backups/iamanda-workflow-6SetUsNv96nTbpLe.json
{
  "createdAt": "2025-08-01T16:57:36.351Z",
  "updatedAt": "2025-08-01T17:03:37.404Z",
  "id": "6SetUsNv96nTbpLe",
  "name": "[ IAmanda] - QR Code Evo",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": ":path",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        -128
      ],
      "id": "39ba0b32-f2da-424c-b2c2-dbd1eedbe11a",
      "name": "Webhook1",
      "webhookId": "whatsapp"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1520,
        -128
      ],
      "id": "9d77657d-651a-4942-9266-4e9f999d8a8e",
      "name": "Retorna o Qr Code"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\"/>\n  <meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\"/>\n  <title>Conecte ao WhatsApp</title>\n  <!-- Fonte Inter -->\n  <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap\" rel=\"stylesheet\">\n  <style>\n    :root {\n      --bg-page: #f0f4f8;\n      --bg-card: #ffffff;\n      --accent: #1ca344;\n      --text-dark: #1e293b;\n      --text-medium: #475569;\n      --text-light: #64748b;\n      --radius: 1rem;\n      --shadow: 0 10px 30px rgba(0,0,0,0.05);\n    }\n    *, *::before, *::after { box-sizing: border-box; margin:0; padding:0; }\n    body {\n      font-family: 'Inter', sans-serif;\n      background: var(--bg-page);\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      min-height: 100vh;\n      padding: 1rem;\n      color: var(--text-medium);\n    }\n    .container {\n      width: 100%;\n      max-width: 700px;\n    }\n    .card {\n      background: var(--bg-card);\n      border-radius: var(--radius);\n      box-shadow: var(--shadow);\n      overflow: hidden;\n    }\n    .header {\n      display: flex;\n      align-items: center;\n      justify-content: space-between;\n      padding: 1.5rem;\n      border-bottom: 1px solid #e2e8f0;\n    }\n    .header-left {\n      display: flex;\n      align-items: center;\n      gap: 0.75rem;\n    }\n    .avatar {\n      width: 40px;\n      height: 40px;\n      border-radius: 50%;\n      background: var(--accent);\n      /* coloque aqui seu avatar se tiver: <img src=\"…\" class=\"avatar\" /> */\n    }\n    .header-text h1 {\n      font-size: 1.25rem;\n      font-weight: 600;\n      color: var(--text-dark);\n      margin-bottom: 0.25rem;\n    }\n    .header-text p {\n      font-size: 0.9rem;\n      color: var(--text-light);\n    }\n    .btn-top {\n      background: var(--accent);\n      color: #fff;\n      font-size: 0.85rem;\n      font-weight: 600;\n      padding: 0.5rem 1rem;\n      border: none;\n      border-radius: 0.75rem;\n      cursor: pointer;\n    }\n    .content {\n      display: flex;\n      flex-wrap: wrap;\n      padding: 1.5rem;\n      gap: 1.5rem;\n      align-items: flex-start;\n      justify-content: space-between;\n    }\n    .instructions {\n      flex: 1 1 240px;\n      min-width: 240px;\n    }\n    .instructions ol {\n      list-style: none;\n      counter-reset: passo;\n    }\n    .instructions li {\n      position: relative;\n      padding-left: 2.5rem;\n      margin-bottom: 1rem;\n      line-height: 1.4;\n    }\n    .instructions li::before {\n      counter-increment: passo;\n      content: counter(passo);\n      position: absolute;\n      left: 0;\n      top: 0;\n      width: 1.8rem;\n      height: 1.8rem;\n      background: var(--accent);\n      color: #fff;\n      border-radius: 50%;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      font-weight: 600;\n      font-size: 0.9rem;\n    }\n    .instructions li ul {\n      list-style: disc inside;\n      margin: 0.5rem 0 0.5rem 1rem;\n      color: var(--text-light);\n    }\n    .instructions strong {\n      color: var(--text-dark);\n    }\n    .qr {\n      flex: 0 1 300px;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n    }\n    .qr img {\n      max-width: 100%;\n      height: auto;\n      border-radius: 0.5rem;\n    }\n    .footer {\n      text-align: center;\n      padding: 1rem;\n      font-size: 0.9rem;\n      color: var(--text-light);\n    }\n    .footer a {\n      color: var(--accent);\n      text-decoration: none;\n      font-weight: 600;\n    }\n\n    @media (max-width: 600px) {\n      .content { flex-direction: column; align-items: center; }\n      .instructions, .qr { flex: 1 1 auto; min-width: auto; }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"card\">\n      <div class=\"header\">\n        <div class=\"header-left\">\n          <!-- opcional: seu avatar aqui -->\n          <div class=\"avatar\"></div>\n          <div class=\"header-text\">\n            <h1>Conecte WhatsApp</h1>\n            <p>Escaneie o QR Code abaixo pelo seu WhatsApp para conectar</p>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"content\">\n        <div class=\"instructions\">\n          <ol>\n            <li>Abra o WhatsApp no seu celular.</li>\n            <li>Se seu celular for:\n              <ul>\n                <li>📱 <strong>Android</strong>: toque no ícone ⋮ no canto superior direito;</li>\n                <li>🍏 <strong>iPhone</strong>: toque no ícone ⚙️ no canto inferior direito.</li>\n              </ul>\n            </li>\n            <li>Toque em <strong>Aparelhos Conectados</strong>.</li>\n            <li>Toque no botão <strong>Conectar um Aparelho</strong>.</li>\n            <li>Aponte seu celular para o QR Code.</li>\n            <li><strong>Pronto!</strong> Agora basta aguardar a conexão</li>\n          </ol>\n        </div>\n        <div class=\"qr\">\n          <!-- injete a imagem sem escape -->\n          {{ $node[\"Tratamento de dados do HTML\"].json[\"img\"] }}\n        </div>\n      </div>\n    </div>\n\n    <div class=\"footer\">\n      Caso o QR Code acima não tenha funcionado, gere um novo.\n      {{ $node[\"Tratamento de dados do HTML\"].json[\"link_restart\"] }}\n    </div>\n  </div>\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1328,
        -128
      ],
      "id": "695a8150-253d-48cf-98a0-d5bee3861f4b",
      "name": "Gerar Layout"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "757defe4-b71d-4bbc-ab85-69292e2a9510",
              "name": "css",
              "value": "=* {\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n}\n\nbody {\n  font-family: Arial, sans-serif;\n  background-color: #f6f8fa;\n  color: #333;\n}\n\n.container {\n  min-height: 100vh;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  padding: 20px;\n}\n\n.card {\n  background: #fff;\n  padding: 30px;\n  border-radius: 12px;\n  box-shadow: 0 4px 12px rgba(0,0,0,0.08);\n  max-width: 900px;\n  width: 100%;\n}\n\nh1 {\n  font-size: 1.8rem;\n  margin-bottom: 10px;\n}\n\n.subtitle {\n  color: #555;\n  margin-bottom: 20px;\n}\n\n.content {\n  display: flex;\n  flex-wrap: wrap;\n  gap: 20px;\n  align-items: flex-start;\n  justify-content: space-between;\n}\n\n.instructions {\n  flex: 1;\n  margin-bottom: 10px;\n  min-width: 260px;\n}\n\n.instructions ol {\n  padding-left: 20px;\n}\n\n.instructions ul {\n  padding-left: 20px;\n  margin-top: 5px;\n}\n\n.qr {\n  flex: none;\n  text-align: center;\n}\n\n.qr img {\n  width: 300px;\n  height: 300px;\n}\n\n.footer {\n  margin-top: 20px;\n  font-size: 0.9rem;\n  text-align: center;\n}\n\n.footer a {\n  color: #007bff;\n  text-decoration: none;\n}\n.footer a:hover {\n  text-decoration: underline;\n}\n\n/* Responsivo */\n@media (max-width: 600px) {\n  .content {\n    flex-direction: column;\n    align-items: center;\n  }\n\n  .instructions {\n    text-align: left;\n  }\n\n  .qr img {\n    width: 180px;\n    height: 180px;\n  }\n}\n",
              "type": "string"
            },
            {
              "id": "195456b2-31ef-4193-a010-d988c2edb0c7",
              "name": "base64",
              "value": "={{ $json.base64 }}",
              "type": "string"
            },
            {
              "id": "1464f11d-fd2f-422d-87c2-c894f3ca19b8",
              "name": "img",
              "value": "=<img src='{{ $json.base64}}' alt='QR Code' style='width:300px;height:300px;'>",
              "type": "string"
            },
            {
              "id": "19d92fad-8d41-4d78-84ee-ddd607fed1fb",
              "name": "link_restart",
              "value": "=<a href=\"{{ $node[\"ALTERE AQUI\"].json[\"host\"] }}/webhook/fa557e57-878e-4e06-8cd0-d1a62e2de6a0/{{ $node[\"ALTERE AQUI\"].json[\"instancia_name\"] }}\">Gerar novo QR Code</a>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -128
      ],
      "id": "2ff4d1cd-6e3a-4c3a-8e00-adc4c7c235af",
      "name": "Tratamento de dados do HTML"
    },
    {
      "parameters": {
        "url": "={{ $node[\"ALTERE AQUI\"].json[\"url\"] }}/instance/connect/{{ $json.instancia_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        -128
      ],
      "id": "582d87a7-7123-4ea5-bb5e-460c1dc033ed",
      "name": "Gerar qr code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c2fc5c4-bbb9-4118-8d9d-cf53cc051ecf",
              "name": "params.path",
              "value": "={{ $node[\"Gerar novo Qr code\"].json[\"params\"][\"instancia\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        32
      ],
      "id": "7bdf0d41-958b-476b-b601-7c465c0946fa",
      "name": "Nome instancia"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}/instance/restart/{{ $node[\"Gerar novo Qr code\"].json[\"params\"][\"instancia\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $json.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        32
      ],
      "id": "355f78f9-7539-4216-92ae-2c4f842d2043",
      "name": "Renicia a conexao da instancia"
    },
    {
      "parameters": {
        "path": ":instancia",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        32
      ],
      "id": "a0e25831-ce7a-4c21-8f0b-f0fe5379b28b",
      "name": "Gerar novo Qr code",
      "webhookId": "fa557e57-878e-4e06-8cd0-d1a62e2de6a0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c4ed25b-9602-4011-9076-70891bd92f39",
              "name": "instancia_name",
              "value": "={{ $json.params.instancia }}",
              "type": "string"
            },
            {
              "id": "d988cee6-1eb6-47ce-9d44-d90626a25748",
              "name": "apiKey",
              "value": "6c8bd12532cc6bb914faa77460084747",
              "type": "string"
            },
            {
              "id": "52626522-2447-4c59-b6c4-f1b6743122f0",
              "name": "url",
              "value": "https://evolution-kupaa.iamanda.com.br",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        32
      ],
      "id": "4e1ada86-0bb3-4656-9d57-840a62679d34",
      "name": "ALTERE AQUI1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c4ed25b-9602-4011-9076-70891bd92f39",
              "name": "instancia_name",
              "value": "={{ $json.params.path }}",
              "type": "string"
            },
            {
              "id": "d988cee6-1eb6-47ce-9d44-d90626a25748",
              "name": "apiKey",
              "value": "6c8bd12532cc6bb914faa77460084747",
              "type": "string"
            },
            {
              "id": "52626522-2447-4c59-b6c4-f1b6743122f0",
              "name": "url",
              "value": "https://evolution-kupaa.iamanda.com.br",
              "type": "string"
            },
            {
              "id": "3c4be75c-f483-4338-9b4b-5ae4ad3d7bdb",
              "name": "host",
              "value": "https://webhook-kupaa.iamanda.com.br",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -128
      ],
      "id": "66b155cd-cc07-4f57-97e6-1f62ff00bbd3",
      "name": "ALTERE AQUI"
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "ALTERE AQUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Layout": {
      "main": [
        [
          {
            "node": "Retorna o Qr Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamento de dados do HTML": {
      "main": [
        [
          {
            "node": "Gerar Layout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar qr code": {
      "main": [
        [
          {
            "node": "Tratamento de dados do HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome instancia": {
      "main": [
        [
          {
            "node": "ALTERE AQUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renicia a conexao da instancia": {
      "main": [
        [
          {
            "node": "Nome instancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar novo Qr code": {
      "main": [
        [
          {
            "node": "ALTERE AQUI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ALTERE AQUI1": {
      "main": [
        [
          {
            "node": "Renicia a conexao da instancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ALTERE AQUI": {
      "main": [
        [
          {
            "node": "Gerar qr code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "webhook-kupaa.iamanda.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en;q=0.8",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19PFpfncNmq1rcok7KsqTIAGNgGeo6Ttxw%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19evuBAqt6F8yMEELR%2FhUvbsITuZKTzpgQ%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22c04fd3e573fb281d4e757750b506914abd65d06bbb5314b7125fdaa366aa0df8%23cd98e3c3-d971-4fb6-91bf-c4c277ee45b7%22%2C%22%24sesid%22%3A%5B1754067616430%2C%220198667b-7b85-7054-a05e-ef19c5682cdc%22%2C1754066025349%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fapp-mastercargo.iamanda.com.br%2Fsignin%3Fredirect%3D%25252F%22%7D%7D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19t2GchPhGq59bOxl6zK8Fl%2Fhb7SqTxBIymDLc8HmfnTDyqyDBiE0ldsJw%2FRsQQRZqlySbDq6qggw%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX19mjAA6Nknp9K1hvFHTwydwlBT7ZljM1Ifs3G6B5y5AT%2Fco%2F%2FmGQARmXvgRgQB%2BUp%2FjYfEyAyc%2FZo8rhr4wWSgxCNLuLcv%2BV3hspVgpODu2CcfWk5fgtP9PK0ODByPqkyvC1UsZxelbXQ%3D%3D",
            "if-none-match": "W/\"4b08-67fSnbVDyCo1tfvgJpeyNja+6gM\"",
            "priority": "u=0, i",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "179.222.238.164",
            "x-forwarded-host": "webhook-kupaa.iamanda.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "53854a3c7008",
            "x-real-ip": "179.222.238.164"
          },
          "params": {
            "path": "kupaa-iamanda"
          },
          "query": {},
          "body": {},
          "webhookUrl": "https://webhook-kupaa.iamanda.com.br/webhook/whatsapp/:path",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "7575e492-ce69-4d29-bb0a-1c3858f1e45c",
  "triggerCount": 2,
  "tags": []
}