backups/iamanda-workflow-x1gVQwFk6l2yOzGg.json
{
  "createdAt": "2025-07-28T15:48:36.138Z",
  "updatedAt": "2025-08-19T15:02:52.978Z",
  "id": "x1gVQwFk6l2yOzGg",
  "name": "[ IAmanda ] - Relatório",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "58a60f78-3e22-4d57-8168-b02b5e3b8b51",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1040,
        608
      ],
      "id": "c48f4128-34e3-433d-9507-92759a7297d1",
      "name": "Webhook",
      "webhookId": "58a60f78-3e22-4d57-8168-b02b5e3b8b51"
    },
    {
      "parameters": {
        "jsCode": "const number = $json[\"phone_number\"]\nconst raw = number.toString().replace(/\\D/g, ''); // remove caracteres não numéricos\n\n// Extrai partes do número\nconst codPais = raw.slice(0, 2);     // 55\nconst ddd = raw.slice(2, 4);         // ex: 54\nlet numeroSem9, numeroCom9;\n\nif (raw.length === 12) {\n  // Ex: 555496040773 -> falta o 9 -> adiciona\n  numeroCom9 = codPais + ddd + \"9\" + raw.slice(4);\n  numeroSem9 = raw;\n} else if (raw.length === 13 && raw[4] === \"9\") {\n  // Ex: 5554996040773 -> tem o 9 -> remove\n  numeroCom9 = raw;\n  numeroSem9 = codPais + ddd + raw.slice(5);\n} else {\n   // Não está no formato esperado\n  numeroCom9 = number\n}\n\nreturn [\n  {\n    json: {\n      numero_com_9: numeroCom9,\n      numero_sem_9: numeroSem9,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        1072
      ],
      "id": "7ff2843d-916a-46d3-9125-b8f0939d3be9",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43ca8838-e0f5-44f6-93a0-1ca5f372cb9e",
              "name": "phone_number",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "b1c4445a-5cdd-4fcf-967b-0d02c7037b23",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "b7366c06-9704-4870-a1a5-16f2db85be5b",
              "name": "session_id",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"session_id\"] }}",
              "type": "string"
            },
            {
              "id": "216d37a4-994b-4126-9ae7-74cb683b663e",
              "name": "campaign_source",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"campaign_source\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -576,
        608
      ],
      "id": "eb063219-e20f-4dc5-8baf-f6dd54ba8a61",
      "name": "tratamento de dados"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "sessions",
          "mode": "list",
          "cachedResultName": "sessions"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "number",
              "value": "={{ $json.numero_com_9 }}@s.whatsapp.net"
            },
            {
              "column": "number",
              "value": "={{ $json.numero_sem_9 }}@s.whatsapp.net"
            }
          ]
        },
        "combineConditions": "OR",
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        1040
      ],
      "id": "3e8dc405-3bbb-4189-a683-e3ad6415d81d",
      "name": "Verifica se tem sessao criada",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5824898-8bec-4833-acfc-be9112dda3c7",
              "leftValue": "={{ $node[\"Verifica se tem sessao criada\"].json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        1040
      ],
      "id": "8c84f437-b2d5-472c-8e95-0ace3b83dc17",
      "name": "Se tem conexao"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_eventos",
          "mode": "list",
          "cachedResultName": "tb_eventos"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id_sessao",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"session_id\"] }}"
            },
            {
              "column": "nome_evento",
              "value": "purchase"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "data_criacao",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        928
      ],
      "id": "2030316c-2e5e-46c8-8759-9910d92d1c1c",
      "name": "Puxar a venda na tabela de eventos"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM n8n_chat_histories\nWHERE session_id = '{{ $node[\"Verifica se tem sessao criada\"].json[\"session_id\"] }}'\n  AND created_at >= TIMESTAMP WITH TIME ZONE '{{ $node[\"Puxar a venda na tabela de eventos\"].json[\"data_criacao\"] }}' - INTERVAL '2 days'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        1072
      ],
      "id": "9e6a2dc3-3cf4-4a59-8fb4-873426dfdf00",
      "name": "Verifica se tem conversa até 2 dias antes da compra",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7442144-46ab-4d5b-b3ed-4355c7ca8ec1",
              "leftValue": "={{ $node[\"Aggregate\"].json[\"data\"] }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1936,
        1072
      ],
      "id": "981d5340-bb07-41f9-9588-9911b5940510",
      "name": "Se tiver"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.campaign_source }}",
                    "rightValue": "rcart",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d410e2a6-a2d6-4a1c-bebd-dcb1b09c2b59"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Carrinho"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a568d158-ab0b-44d4-88c1-8156e58fa0b6",
                    "leftValue": "={{ $json.campaign_source }}",
                    "rightValue": "iamanda",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IAmanda"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -304,
        608
      ],
      "id": "9507c00b-fd2f-4667-b524-dd4d254e1b5d",
      "name": "Switch"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1776,
        1072
      ],
      "id": "24f3c148-2c38-4a5d-8b7d-3cbc82cb831e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_vendas_origem",
          "mode": "list",
          "cachedResultName": "tb_vendas_origem"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "origem": "=ajuda_iamanda",
            "user_id": "={{ $node[\"tratamento de dados\"].json[\"user_id\"] }}",
            "data_compra": "={{ $now }}",
            "valor_total": "={{ $node[\"Webhook\"].json[\"body\"][\"value\"] }}",
            "session": "={{ $node[\"Verifica se tem conversa até 2 dias antes da compra\"].json[\"session_id\"] || '' }}",
            "source": "={{ $node[\"Webhook\"].json[\"body\"][\"source\"] }}",
            "numero": "={{ $node[\"tratamento de dados\"].json[\"phone_number\"] }}",
            "id_sessao": "={{ $node[\"tratamento de dados\"].json[\"session_id\"] }}",
            "interacoes_amanda": "={{ $json[\"data\"].length }}",
            "interacoes_carrinho": 0
          },
          "matchingColumns": [
            "id_sessao"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_sessao",
              "displayName": "id_sessao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "data_compra",
              "displayName": "data_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "interacoes_amanda",
              "displayName": "interacoes_amanda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "interacoes_carrinho",
              "displayName": "interacoes_carrinho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2176,
        1040
      ],
      "id": "774deb06-ae32-411a-ae24-811e7eff4943",
      "name": "Salva venda com intereação iamanda"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "222f9086-6dd3-45ab-9aa1-e39d51093ae5",
              "leftValue": "={{ $node[\"Verifica se tever intereçao com o carrinho\"].json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        960
      ],
      "id": "17e01b19-05c3-402c-912a-af4e7adc855f",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT *\nFROM tb_follow\nWHERE session = '{{ $node[\"Verifica se tem sessao criada\"].json[\"session_id\"] }}' AND session_id_cart='{{ $json.id_sessao }}'\n  AND created_at >= TIMESTAMP WITH TIME ZONE '{{ $node[\"Puxar a venda na tabela de eventos\"].json[\"data_criacao\"] }}' - INTERVAL '2 days'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        960
      ],
      "id": "ed2f2d00-8b18-472d-8784-2efe1713515c",
      "name": "Verifica se tever intereçao com o carrinho",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_vendas_origem",
          "mode": "list",
          "cachedResultName": "tb_vendas_origem"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "origem": "=carrinho",
            "user_id": "={{ $node[\"tratamento de dados\"].json[\"user_id\"] }}",
            "data_compra": "={{ $now }}",
            "valor_total": "={{ $node[\"Webhook\"].json[\"body\"][\"value\"] }}",
            "source": "={{ $node[\"Webhook\"].json[\"body\"][\"source\"] }}",
            "numero": "={{ $node[\"tratamento de dados\"].json[\"phone_number\"] }}",
            "id_sessao": "={{ $node[\"tratamento de dados\"].json[\"session_id\"] }}"
          },
          "matchingColumns": [
            "id_sessao"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_sessao",
              "displayName": "id_sessao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "data_compra",
              "displayName": "data_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "interacoes_amanda",
              "displayName": "interacoes_amanda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "interacoes_carrinho",
              "displayName": "interacoes_carrinho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        160
      ],
      "id": "629447cf-bdcb-453c-928a-e3fcaed0e8ff",
      "name": "Salva no banco como carrinho"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_vendas_origem",
          "mode": "list",
          "cachedResultName": "tb_vendas_origem"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "origem": "=iamanda",
            "user_id": "={{ $node[\"tratamento de dados\"].json[\"user_id\"] }}",
            "data_compra": "={{ $now }}",
            "valor_total": "={{ $node[\"Webhook\"].json[\"body\"][\"value\"] }}",
            "source": "={{ $node[\"Webhook\"].json[\"body\"][\"source\"] }}",
            "numero": "={{ $node[\"tratamento de dados\"].json[\"phone_number\"] }}",
            "id_sessao": "={{ $node[\"tratamento de dados\"].json[\"session_id\"] }}"
          },
          "matchingColumns": [
            "id_sessao"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_sessao",
              "displayName": "id_sessao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "data_compra",
              "displayName": "data_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "interacoes_amanda",
              "displayName": "interacoes_amanda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "interacoes_carrinho",
              "displayName": "interacoes_carrinho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        608
      ],
      "id": "4e9ab6e9-a74d-4fbc-955c-140f880456e7",
      "name": "Salva no banco como Imanda"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM n8n_chat_histories\nWHERE session_id = '{{ $node[\"Verifica se tem sessao criada\"].json[\"session_id\"] }}'\n  AND created_at >= TIMESTAMP WITH TIME ZONE '{{ $node[\"Puxar a venda na tabela de eventos\"].json[\"data_criacao\"] }}' - INTERVAL '2 days'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        832
      ],
      "id": "e7413399-a32e-4edb-bf24-e47978118a93",
      "name": "Verifica se tem conversa até 2 dias antes da compra1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1776,
        832
      ],
      "id": "cff709b4-1f4d-4aa9-b431-c091ed1d8a2c",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_vendas_origem",
          "mode": "list",
          "cachedResultName": "tb_vendas_origem"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "origem": "=ajuda_carrinho",
            "user_id": "={{ $node[\"tratamento de dados\"].json[\"user_id\"] }}",
            "data_compra": "={{ $now }}",
            "valor_total": "={{ $node[\"Webhook\"].json[\"body\"][\"value\"] }}",
            "session": "={{ $node[\"Verifica se tem conversa até 2 dias antes da compra1\"].json[\"session_id\"] || '' }}",
            "source": "={{ $node[\"Webhook\"].json[\"body\"][\"source\"] }}",
            "numero": "={{ $node[\"tratamento de dados\"].json[\"phone_number\"] }}",
            "id_sessao": "={{ $node[\"tratamento de dados\"].json[\"session_id\"] }}",
            "interacoes_amanda": "={{ 0 }}",
            "interacoes_carrinho": "={{ $node[\"Aggregate1\"].json[\"data\"].length }}"
          },
          "matchingColumns": [
            "id_sessao"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_sessao",
              "displayName": "id_sessao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "data_compra",
              "displayName": "data_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "interacoes_amanda",
              "displayName": "interacoes_amanda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "interacoes_carrinho",
              "displayName": "interacoes_carrinho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1952,
        832
      ],
      "id": "9339235a-323b-43e9-8c69-c8db5eff7c4a",
      "name": "Salva venda com intereação iamanda1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "tb_follow",
          "mode": "list",
          "cachedResultName": "tb_follow"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id_cart",
              "value": "={{ $json.id_sessao }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        192
      ],
      "id": "7a71a58a-a2ea-4326-9d81-46d8b2cc60bd",
      "name": "Verifica se tem sessao criada3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM n8n_chat_histories\nWHERE session_id = '{{ $json.session }}'\n  AND created_at >= TIMESTAMP WITH TIME ZONE '{{ $node[\"Salva no banco como carrinho\"].json[\"data_compra\"] }}' - INTERVAL '2 days'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        192
      ],
      "id": "73ae88b8-18cc-4d45-8f94-eb506c15bba8",
      "name": "Verifica se tem conversa até 2 dias antes da compra3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        768,
        192
      ],
      "id": "0b26ed59-4d29-4505-99dc-73ccfe7cd299",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_vendas_origem",
          "mode": "list",
          "cachedResultName": "tb_vendas_origem"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_sessao": "={{ $node[\"tratamento de dados\"].json[\"session_id\"] }}",
            "interacoes_amanda": "={{ 0 }}",
            "interacoes_carrinho": "={{ $node[\"Aggregate3\"].json[\"data\"].length }}",
            "session": "={{ $node[\"Verifica se tem sessao criada3\"].json[\"session\"] }}"
          },
          "matchingColumns": [
            "id_sessao"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_sessao",
              "displayName": "id_sessao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "data_compra",
              "displayName": "data_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "interacoes_amanda",
              "displayName": "interacoes_amanda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "interacoes_carrinho",
              "displayName": "interacoes_carrinho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        192
      ],
      "id": "bcdd9056-49fe-43ff-a057-106bc549460e",
      "name": "Salva no banco como carrinho2"
    },
    {
      "parameters": {
        "jsCode": "const number = $json[\"phone_number\"]\nconst raw = number.toString().replace(/\\D/g, ''); // remove caracteres não numéricos\n\n// Extrai partes do número\nconst codPais = raw.slice(0, 2);     // 55\nconst ddd = raw.slice(2, 4);         // ex: 54\nlet numeroSem9, numeroCom9;\n\nif (raw.length === 12) {\n  // Ex: 555496040773 -> falta o 9 -> adiciona\n  numeroCom9 = codPais + ddd + \"9\" + raw.slice(4);\n  numeroSem9 = raw;\n} else if (raw.length === 13 && raw[4] === \"9\") {\n  // Ex: 5554996040773 -> tem o 9 -> remove\n  numeroCom9 = raw;\n  numeroSem9 = codPais + ddd + raw.slice(5);\n} else {\n   // Não está no formato esperado\n  numeroCom9 = number\n}\n\nreturn [\n  {\n    json: {\n      numero_com_9: numeroCom9,\n      numero_sem_9: numeroSem9,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        704
      ],
      "id": "7e47b453-e225-4c12-a441-30309cc2b711",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_usuarios",
          "mode": "list",
          "cachedResultName": "tb_usuarios"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.body.user_id }}"
            },
            {
              "column": "email",
              "value": "={{ $json.body.user_data.email_address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -816,
        608
      ],
      "id": "9b5f057d-d05c-44dc-9541-932f25e28fd8",
      "name": "Postgres"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "=public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "sessions",
          "mode": "list",
          "cachedResultName": "sessions"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "number",
              "value": "={{ $json.numero_com_9 }}@s.whatsapp.net"
            },
            {
              "column": "number",
              "value": "={{ $json.numero_sem_9 }}@s.whatsapp.net"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        608
      ],
      "id": "ca69a940-aadf-402d-b60c-7098b4bcf1da",
      "name": "Verifica se tem sessao criada4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19b2579d-2aa1-446c-847b-86d9233ed258",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        768,
        608
      ],
      "id": "73887b2d-5d83-4a6a-9252-f9e9ef2ad31a",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM n8n_chat_histories\nWHERE session_id = '{{ $json.session }}'\n  AND created_at >= TIMESTAMP WITH TIME ZONE '{{ $node[\"Salva no banco como carrinho\"].json[\"data_compra\"] }}' - INTERVAL '2 days'\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        608
      ],
      "id": "7c18c272-1b20-4042-8230-eb9b1db9eb00",
      "name": "Verifica se tem conversa até 2 dias antes da compra4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1248,
        608
      ],
      "id": "ea56a13e-47ca-4922-a9cf-47f78e834fd0",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_vendas_origem",
          "mode": "list",
          "cachedResultName": "tb_vendas_origem"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_sessao": "={{ $node[\"tratamento de dados\"].json[\"session_id\"] }}",
            "interacoes_amanda": "={{ 0 }}",
            "interacoes_carrinho": "={{ $node[\"Aggregate5\"].json[\"data\"].length }}",
            "session": "={{ $node[\"Verifica se tem sessao criada3\"].json[\"session\"] }}"
          },
          "matchingColumns": [
            "id_sessao"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_sessao",
              "displayName": "id_sessao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "data_compra",
              "displayName": "data_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "interacoes_amanda",
              "displayName": "interacoes_amanda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "interacoes_carrinho",
              "displayName": "interacoes_carrinho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        608
      ],
      "id": "3dd04d7c-9bdc-4be7-a4b4-a2d93159c7d2",
      "name": "Salva no banco como carrinho3"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pedidos_tray",
          "mode": "list",
          "cachedResultName": "pedidos_tray"
        },
        "where": {
          "values": [
            {
              "column": "id_sessao",
              "value": "={{ $json.id_sessao }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2576,
        832
      ],
      "id": "d4acf4cf-4b4f-4b4f-9455-2336bbac71b1",
      "name": "Busca na TRAY",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_vendas_origem",
          "mode": "list",
          "cachedResultName": "tb_vendas_origem"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status_tray": "={{ $json.status }}",
            "valor_total": "={{ $json.total }}",
            "id_sessao": "={{ $json.id_sessao }}"
          },
          "matchingColumns": [
            "id_sessao"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_sessao",
              "displayName": "id_sessao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_compra",
              "displayName": "data_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interacoes_amanda",
              "displayName": "interacoes_amanda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "interacoes_carrinho",
              "displayName": "interacoes_carrinho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_tray",
              "displayName": "status_tray",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3024,
        832
      ],
      "id": "631a1f2a-58ee-41f7-be2b-58ce08785201",
      "name": "Atualizar o pedido"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0a3dd0a4-f858-443f-b31d-2a5235b14596",
              "leftValue": "={{ $node[\"Busca na TRAY\"].json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2784,
        832
      ],
      "id": "3450178a-8409-4618-bc71-f92e72b48af3",
      "name": "Se tiver2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2352,
        832
      ],
      "id": "749c79b7-2b22-4266-bf20-9a0aa6aac191",
      "name": "10 segundos",
      "webhookId": "3e51f89f-9229-4097-92eb-a6dd808b3982"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pedidos_tray",
          "mode": "list",
          "cachedResultName": "pedidos_tray"
        },
        "where": {
          "values": [
            {
              "column": "id_sessao",
              "value": "={{ $json.id_sessao }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        160
      ],
      "id": "b9627f36-3891-4f15-b9ff-24f55af63dad",
      "name": "Busca na Tray",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_vendas_origem",
          "mode": "list",
          "cachedResultName": "tb_vendas_origem"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status_tray": "={{ $json.status }}",
            "valor_total": "={{ $json.total }}",
            "id_sessao": "={{ $json.id_sessao }}"
          },
          "matchingColumns": [
            "id_sessao"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_sessao",
              "displayName": "id_sessao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_compra",
              "displayName": "data_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interacoes_amanda",
              "displayName": "interacoes_amanda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "interacoes_carrinho",
              "displayName": "interacoes_carrinho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_tray",
              "displayName": "status_tray",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        160
      ],
      "id": "076b852f-4ff3-4b46-854d-58f148402582",
      "name": "Atualiza pedido"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e07dd3c8-b450-4135-ba09-2c8603d146c2",
              "leftValue": "={{ $node[\"Busca na Tray\"].json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1776,
        160
      ],
      "id": "ae813ea7-7100-4893-9400-79e88921a8af",
      "name": "Se tiver3"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1344,
        160
      ],
      "id": "dd5e090e-000f-4aea-86df-9c5ae4b08db7",
      "name": "10 Segundos",
      "webhookId": "0acea782-67ec-4fa0-9b49-aff67c494be2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_vendas_origem",
          "mode": "list",
          "cachedResultName": "tb_vendas_origem"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -816,
        1520
      ],
      "id": "27e8c3ef-d402-45e3-86d8-abd11d7e64ef",
      "name": "Select vendas origem"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -592,
        1520
      ],
      "id": "026593c1-d8f4-492c-a2b8-dff8a5a55f2d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        528,
        1520
      ],
      "id": "74902230-e645-4906-9d66-e9dd19f3d1cf"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "pedidos_tray",
          "mode": "list",
          "cachedResultName": "pedidos_tray"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id_sessao",
              "value": "={{ $json.id_sessao }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "update_time",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        1552
      ],
      "id": "9d974d63-0e32-4a1e-9255-5f4901aab9c4",
      "name": "Busca tb pedidos tray",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b992e75-8f44-4e5e-b1be-64ca40145194",
              "leftValue": "={{ $node[\"Busca tb pedidos tray\"].json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        1552
      ],
      "id": "d10fe7ae-cb3d-422f-bf7d-e71fca3ffc79",
      "name": "Se tiver1"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_vendas_origem",
          "mode": "list",
          "cachedResultName": "tb_vendas_origem"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status_tray": "={{ $json.status }}",
            "id_sessao": "={{ $node[\"Loop Over Items\"].json[\"id_sessao\"] }}",
            "valor_total": "={{ $json.total }}"
          },
          "matchingColumns": [
            "id_sessao"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_sessao",
              "displayName": "id_sessao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_compra",
              "displayName": "data_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "interacoes_amanda",
              "displayName": "interacoes_amanda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "interacoes_carrinho",
              "displayName": "interacoes_carrinho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_tray",
              "displayName": "status_tray",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        1520
      ],
      "id": "59a737e3-fec4-4a1f-8361-277ed2ed8945",
      "name": "Atualiza pedido1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -320,
        1360
      ],
      "id": "a392cb06-57bd-46d5-a4f1-220531615ec9",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1056,
        1520
      ],
      "id": "b6fb21f5-8cdf-41b1-bc9a-c8fbb0a4b657",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Verifica se tem sessao criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratamento de dados": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem sessao criada": {
      "main": [
        [
          {
            "node": "Se tem conexao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se tem conexao": {
      "main": [
        [
          {
            "node": "Puxar a venda na tabela de eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxar a venda na tabela de eventos": {
      "main": [
        [
          {
            "node": "Verifica se tever intereçao com o carrinho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem conversa até 2 dias antes da compra": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se tiver": {
      "main": [
        [
          {
            "node": "Salva venda com intereação iamanda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Salva no banco como carrinho",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salva no banco como Imanda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Se tiver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva venda com intereação iamanda": {
      "main": [
        [
          {
            "node": "10 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Verifica se tem conversa até 2 dias antes da compra1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica se tem conversa até 2 dias antes da compra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tever intereçao com o carrinho": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva no banco como carrinho": {
      "main": [
        [
          {
            "node": "Verifica se tem sessao criada3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva no banco como Imanda": {
      "main": [
        [
          {
            "node": "10 Segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem conversa até 2 dias antes da compra1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Salva venda com intereação iamanda1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva venda com intereação iamanda1": {
      "main": [
        [
          {
            "node": "10 segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem sessao criada3": {
      "main": [
        [
          {
            "node": "Verifica se tem conversa até 2 dias antes da compra3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem conversa até 2 dias antes da compra3": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Salva no banco como carrinho2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva no banco como carrinho2": {
      "main": [
        [
          {
            "node": "10 Segundos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Verifica se tem sessao criada4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "tratamento de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem sessao criada4": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Verifica se tem conversa até 2 dias antes da compra4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem conversa até 2 dias antes da compra4": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Salva no banco como carrinho3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca na TRAY": {
      "main": [
        [
          {
            "node": "Se tiver2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se tiver2": {
      "main": [
        [
          {
            "node": "Atualizar o pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 segundos": {
      "main": [
        [
          {
            "node": "Busca na TRAY",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca na Tray": {
      "main": [
        [
          {
            "node": "Se tiver3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se tiver3": {
      "main": [
        [
          {
            "node": "Atualiza pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Segundos": {
      "main": [
        [
          {
            "node": "Busca na Tray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select vendas origem": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca tb pedidos tray",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca tb pedidos tray": {
      "main": [
        [
          {
            "node": "Se tiver1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se tiver1": {
      "main": [
        [
          {
            "node": "Atualiza pedido1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza pedido1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select vendas origem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "bEV4hbeNKgIZm4dF"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.8.2",
            "content-length": "4009",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n_webhook:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "event_name": "purchase",
            "x-ga-system_properties": {
              "c": true,
              "eu": [
                4,
                34
              ],
              "tu": "Dg"
            },
            "items": [
              {
                "item_id": "497",
                "item_name": "Adubo Liquido 100% Orgânico 60 ml - Plantiê",
                "price": 19.9,
                "item_brand": "Plantiê",
                "item_variant": "",
                "quantity": 1,
                "item_category": "ADUBO E SUBSTRATO PARA PLANTAS"
              },
              {
                "item_id": "979",
                "item_name": "Adubo Bokashi 250g Orgânico 100% Natural - Plantiê",
                "price": 24.9,
                "item_brand": "Plantiê",
                "item_variant": "",
                "quantity": 1,
                "item_category": "ADUBO E SUBSTRATO PARA PLANTAS"
              },
              {
                "item_id": "1201",
                "item_name": "Calda Bordalesa 300 ml concentrado",
                "price": 24.9,
                "item_brand": "",
                "item_variant": "",
                "quantity": 1,
                "item_category": "ADUBO E SUBSTRATO PARA PLANTAS"
              },
              {
                "item_id": "1043",
                "item_name": "XÔ PRAGA - Controle Natural de Pragas - 100ml",
                "price": 28.9,
                "item_brand": "Plantiê",
                "item_variant": "",
                "quantity": 1,
                "item_category": "ADUBO E SUBSTRATO PARA PLANTAS"
              }
            ],
            "source": "Meta",
            "medium": "Instagram_Stories",
            "campaign": "OP_FRIO_ADVTG_CATALOGO_ABO",
            "content": "ADVANTAGE_PURCHASE",
            "term": "ADS_CAT_TODOS OS PRODUTOS",
            "x-fb-ud-external_id": "ed30VxEYz16bNoSkAJaALUyKhifCzr+KpvE0Gv7pYQc=.1753138123",
            "telefonesem55": "6945135",
            "value": 98.6,
            "event_id": "1752767922625_175319024066854",
            "x-fb-cd-content_ids": "497,979,1201,1043",
            "x-fb-cd-content_type": "product",
            "x-fb-ck-fbp": "fb.2.1753138125903.819356811357431878",
            "x-fb-ck-fbc": "fb.2.1753189387951.PAZXh0bgNhZW0BMABhZGlkAasghA13FhsBp9oL9ffBpCGeYXqTSj5VoXIbN0HjpqI-WoaVfnYY2IAiStbDizvx-06zgeco_aem_O8LrnEBfFYMctKU8A1ubPQ",
            "transaction_id": "182511",
            "engagement_time_msec": 29457,
            "user_data": {
              "address": {
                "country": "br",
                "city": "sao%20gabriel%20do%20oeste",
                "region": "sp",
                "postal_code": "79490174",
                "first_name": "Maria",
                "last_name": "roda"
              },
              "email_address": "maduskt7@gmail.com",
              "phone_number": "5567996945135"
            },
            "x-ga-protocol_version": "2",
            "x-ga-measurement_id": "G-CPM5558G29",
            "x-ga-gtm_version": "45je57i1v886821267z8831905287za200zb831905287zd831905287",
            "x-ga-page_id": 1753189585689,
            "x-ga-gcd": "13l3l3l3l1l1",
            "x-ga-npa": "0",
            "x-ga-dma": "0",
            "x-ga-mp2-tag_exp": "101509157~103116026~103200004~103233427~104684208~104684211~104921715~104921717~104952209~104952211",
            "client_id": "ed30VxEYz16bNoSkAJaALUyKhifCzr+KpvE0Gv7pYQc=.1753138123",
            "x-ga-ecid": "1402486135",
            "language": "pt-br",
            "screen_resolution": "384x832",
            "x-ga-mp2-ir": "1",
            "event_location": {
              "country": "BR",
              "region": "MS"
            },
            "client_hints": {
              "architecture": "",
              "bitness": "",
              "full_version_list": [
                {
                  "brand": "Not)A;Brand",
                  "version": "8.0.0.0"
                },
                {
                  "brand": "Chromium",
                  "version": "138.0.7204.157"
                },
                {
                  "brand": "Android WebView",
                  "version": "138.0.7204.157"
                }
              ],
              "mobile": true,
              "model": "SM-A155M",
              "platform": "Android",
              "platform_version": "14.0.0",
              "wow64": false,
              "brands": [
                {
                  "brand": "Not)A;Brand",
                  "version": "8"
                },
                {
                  "brand": "Chromium",
                  "version": "138"
                },
                {
                  "brand": "Android WebView",
                  "version": "138"
                }
              ]
            },
            "x-ga-are": "1",
            "x-ga-mp2-frm": "0",
            "x-ga-pscdl": "noapi",
            "user_data_mode": "c",
            "x-sst-system_properties": {
              "etld": "google.com.br",
              "tft": "1753189585689",
              "lpc": "246992837",
              "navt": "n",
              "ude": "1",
              "request_start_time_ms": 1753189626110
            },
            "x-ga-request_count": 6,
            "campaign_source": "Meta",
            "campaign_medium": "Instagram_Stories",
            "campaign_content": "ADVANTAGE_PURCHASE",
            "campaign_term": "ADS_CAT_TODOS OS PRODUTOS",
            "campaign_name": "OP_FRIO_ADVTG_CATALOGO_ABO",
            "currency": "BRL",
            "ga_session_id": "1753188131",
            "ga_session_number": 3,
            "x-ga-mp2-seg": "1",
            "page_location": "https://www.plantie.com.br/checkout?session_id=412ua08i765bfrngaktt0lv6tv&store_id=760360",
            "page_referrer": "https://www.plantie.com.br/checkout/cart?session_id=412ua08i765bfrngaktt0lv6tv&store_id=760360",
            "page_title": "Plantie - Semeando Natureza, Cultivando Bem-Estar",
            "x-ga-tfd": 42137,
            "ip_override": "172.71.6.159",
            "user_agent": "Mozilla/5.0 (Linux; Android 14; SM-A155M Build/UP1A.231005.007; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/138.0.7204.157 Mobile Safari/537.36 Instagram 389.0.0.49.87 Android (34/14; 450dpi; 1080x2125; samsung; SM-A155M; a15; mt6789; pt_BR; 763654648; IABMV/1)",
            "session_id": "412ua08i765bfrngaktt0lv6tv",
            "user_id": "ed30VxEYz16bNoSkAJaALUyKhifCzr+KpvE0Gv7pYQc=.1753138123"
          },
          "webhookUrl": "https://n8n.plantie.com.br/webhook/58a60f78-3e22-4d57-8168-b02b5e3b8b51",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "b7bc2a1d-4003-4fac-bfab-310ccacb0122",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-07-28T15:48:36.138Z",
      "updatedAt": "2025-07-28T15:48:36.138Z",
      "role": "workflow:owner",
      "workflowId": "x1gVQwFk6l2yOzGg",
      "projectId": "aa1bNLMjpk4LlVBL",
      "project": {
        "createdAt": "2025-07-24T21:39:43.180Z",
        "updatedAt": "2025-07-24T21:40:55.821Z",
        "id": "aa1bNLMjpk4LlVBL",
        "name": "IAmanda kupaa <iamanda.suporte@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}