backups/iamanda-workflow-vxCsIY1CdgmtYZQG.json
{
  "createdAt": "2025-07-27T16:41:36.810Z",
  "updatedAt": "2025-08-19T16:08:41.036Z",
  "id": "vxCsIY1CdgmtYZQG",
  "name": "[ IAmanda ] - Webhook Vendas Nuvemshop",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "13944094-8ad0-48a1-aa91-aed27f253e7b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ],
      "id": "00d40358-4863-4b87-926f-b4cb5791db42",
      "name": "Webhook",
      "webhookId": "13944094-8ad0-48a1-aa91-aed27f253e7b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2412d9b5-f2e1-4661-aa97-8a8430a629e8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Paga"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "59ee34ba-0ce4-40f6-8ac4-38e2bbce46dd",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelada"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        112,
        0
      ],
      "id": "4137d2f9-211d-4444-941e-e7dfda3143dc",
      "name": "Switch"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_pedidos",
          "mode": "list",
          "cachedResultName": "tb_pedidos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.id }}",
            "store_id": "={{ $json.store_id }}",
            "cellphone": "={{ $json.contact_phone }}",
            "customer_id": "={{ $json.customer.id }}",
            "valor_total": "={{ $json.total_paid }}",
            "payment_details": "={{ $json.payment_details }}",
            "token": "={{ $json.token }}",
            "name": "={{ $json.customer.name }}",
            "email": "={{ $json.customer.email }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store_id",
              "displayName": "store_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cellphone",
              "displayName": "cellphone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_details",
              "displayName": "payment_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        80
      ],
      "id": "4aa3f8f3-4dc7-4418-a9a1-c74a03ab0061",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "7hVSNHLK8ZyeDUth",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.tiendanube.com/v1/2155771/orders/{{ $json.body.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authentication",
              "value": "bearer 76f5c7447583731ae8372f75e06bea93ea1a4b9c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "IAmanda (leonardo.serafim25@gmail.com)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        -16
      ],
      "id": "7ac6a51e-4a9c-4a66-a736-55c033dbfe1b",
      "name": "Busca dados do pedido"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_pedidos",
          "mode": "list",
          "cachedResultName": "tb_pedidos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.id }}",
            "store_id": "={{ $json.store_id }}",
            "cellphone": "={{ $json.contact_phone }}",
            "customer_id": "={{ $json.customer.id }}",
            "valor_total": "={{ $json.total_paid }}",
            "payment_details": "={{ $json.payment_details }}",
            "token": "={{ $json.token }}",
            "name": "={{ $json.customer.name }}",
            "email": "={{ $json.customer.email }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "store_id",
              "displayName": "store_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cellphone",
              "displayName": "cellphone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_method",
              "displayName": "payment_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_details",
              "displayName": "payment_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        528,
        240
      ],
      "id": "ce75b311-8751-45f8-8c40-2f30e8664acd",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "7hVSNHLK8ZyeDUth",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.tiendanube.com/v1/2155771/orders/{{ $json.body.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authentication",
              "value": "bearer 76f5c7447583731ae8372f75e06bea93ea1a4b9c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "IAmanda (leonardo.serafim25@gmail.com)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        240
      ],
      "id": "6a5af8cd-0a6c-4cf2-9e57-a8bbc7ca8dd0",
      "name": "Busca dados do pedido1"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "status",
              "value": "={{ $json.body.event || \"\" }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        -112,
        0
      ],
      "id": "d4b18780-449d-40fc-8f9c-f5b1140ce510",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://n8n_webhook:5678/webhook/1f2c6696-a432-4940-8179-49263aaf7f27",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $node[\"Busca dados do pedido\"].json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        -144
      ],
      "id": "6d44f203-cea3-49d8-8e2e-7f37897f3217",
      "name": "Envia para order bump"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Busca dados do pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca dados do pedido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca dados do pedido": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Envia para order bump",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca dados do pedido1": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia para order bump": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook-kupaa.iamanda.com.br",
            "user-agent": "LinkedStore Webhook (itmaster@tiendanube.com)",
            "content-length": "57",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "traceparent": "00-00000000000000003b4026b77498f6d3-3b4026b77498f6d3-00",
            "tracestate": "dd=t.dm:3;s:-1",
            "x-datadog-parent-id": "4269455016124282579",
            "x-datadog-sampling-priority": "-1",
            "x-datadog-trace-id": "4269455016124282579",
            "x-forwarded-for": "52.203.96.144",
            "x-forwarded-host": "webhook-kupaa.iamanda.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "53854a3c7008",
            "x-linkedstore-hmac-sha256": "29e7efbc086da8d3f4edc18b41415527cdc9c286373293d9d20a819b2cbe1f36",
            "x-notification-id": "aa2522b3-d689-4209-b41f-d96693c0e5c9:74f1c4e0-a0e6-4ba8-98f4-2a301c2dc21a",
            "x-real-ip": "52.203.96.144",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "store_id": 2155771,
            "event": "order/paid",
            "id": 1757059510
          },
          "webhookUrl": "https://webhook-kupaa.iamanda.com.br/webhook/13944094-8ad0-48a1-aa91-aed27f253e7b",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "d023c7e9-7e98-4d05-9629-d1d37b143a94",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-07-27T16:41:36.810Z",
      "updatedAt": "2025-07-27T16:41:36.810Z",
      "role": "workflow:owner",
      "workflowId": "vxCsIY1CdgmtYZQG",
      "projectId": "aa1bNLMjpk4LlVBL",
      "project": {
        "createdAt": "2025-07-24T21:39:43.180Z",
        "updatedAt": "2025-07-24T21:40:55.821Z",
        "id": "aa1bNLMjpk4LlVBL",
        "name": "IAmanda kupaa <iamanda.suporte@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}