backups/iamanda-workflow-JfEe1U83k7NIEYlH.json
{
  "createdAt": "2025-07-28T15:52:25.758Z",
  "updatedAt": "2025-08-20T20:36:02.447Z",
  "id": "JfEe1U83k7NIEYlH",
  "name": "[ IAmanda ] - Controlador de Carrinho",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "status",
              "value": "enviado"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        1296,
        0
      ],
      "id": "6cb39d0f-6295-44e3-b9a9-b6a7281dabdd",
      "name": "Execution Data1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3cff3bcc-73af-46f5-8c59-e5cdea68947b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -304,
        0
      ],
      "id": "f0b17bc0-e1c0-4797-acec-b1cf7b094f86",
      "name": "Webhook",
      "webhookId": "3cff3bcc-73af-46f5-8c59-e5cdea68947b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_webhook:5678/webhook/66907d58-d558-4e52-85fa-0bce24cf4d9b",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $node[\"Tratamento dados1\"].json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        0
      ],
      "id": "e2e4b6fb-975d-43ac-b2cb-797246f7d690",
      "name": "Enviar para schedule follow carrinho"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21933ae7-2b52-44a8-aa36-e1a7251aadcf",
              "name": "cart_id",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"cart_id\"] }}",
              "type": "string"
            },
            {
              "id": "50c95e86-d1d2-45b6-ac35-5e554494d3fc",
              "name": "telefone",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"phone\"].replaceAll('+', '') }}",
              "type": "string"
            },
            {
              "id": "e07b4f70-43b7-4d29-ba47-c62e510dd4a9",
              "name": "email",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"email\"] }}",
              "type": "string"
            },
            {
              "id": "45a43d2e-2992-47c7-bc1d-dd00da583062",
              "name": "nome",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"nome\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        0
      ],
      "id": "5619b799-955c-4029-9a7a-9c258c8677e4",
      "name": "Tratamento dados1"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        80,
        0
      ],
      "id": "745ac538-5cab-4061-94ff-32414ef32336",
      "name": "15 Minutos1",
      "webhookId": "ff9243fe-687c-4968-849d-ae5c4c8ef5e0"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_pedidos",
          "mode": "list",
          "cachedResultName": "tb_pedidos"
        },
        "where": {
          "values": [
            {
              "column": "order_id",
              "value": "={{ $json.body.cart_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        0
      ],
      "id": "ee002909-fe34-4af6-b9b0-53a9ac5bf77e",
      "name": "Busca em tb compradores1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "7hVSNHLK8ZyeDUth",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a209f86f-7975-486c-94c2-2c56f598764d",
              "leftValue": "={{ $node[\"Busca em tb compradores1\"].json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        496,
        0
      ],
      "id": "0e8a3fdf-a517-4a12-acc8-0cc3e724c18c",
      "name": "Verifica se nao teve compra1"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "telefone",
              "value": "={{ $json.body.phone }}"
            },
            {
              "key": "=cart_id",
              "value": "={{ $json.body.cart_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -112,
        0
      ],
      "id": "fcc16f8e-db2a-4361-bbbf-e89e82aafb34",
      "name": "Historico de Phone, User_id e Session_id1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "89eb9af0-bf02-4ade-9b29-868b23fe29ed",
              "leftValue": "={{ $node[\"Webhook\"].json[\"body\"][\"phone\"] }}",
              "rightValue": "+554788576788",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "88ba1fdb-771f-40f4-b938-680cad4c9403",
              "leftValue": "={{ $node[\"Webhook\"].json[\"body\"][\"phone\"] }}",
              "rightValue": "+555491887007",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9e8af550-c1b3-49cb-9c3e-6a2ac8e8b0d4",
              "leftValue": "={{ $node[\"Webhook\"].json[\"body\"][\"phone\"] }}",
              "rightValue": "+554999337913",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7c137242-e3dc-4581-b16c-ddbc3bb735b8",
              "leftValue": "={{ $node[\"Webhook\"].json[\"body\"][\"phone\"] }}",
              "rightValue": "+5522981810890",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "b1054653-e725-473e-91ae-3bdf45cdac13",
              "leftValue": "={{ $node[\"Webhook\"].json[\"body\"][\"phone\"] }}",
              "rightValue": "+555496040773",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "8fc77157-e7ad-4e5b-9069-7f5194391f18",
      "name": "Filter"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Historico de Phone, User_id e Session_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar para schedule follow carrinho": {
      "main": [
        [
          {
            "node": "Execution Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamento dados1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15 Minutos1": {
      "main": [
        [
          {
            "node": "Busca em tb compradores1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca em tb compradores1": {
      "main": [
        [
          {
            "node": "Verifica se nao teve compra1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se nao teve compra1": {
      "main": [
        [
          {
            "node": "Tratamento dados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historico de Phone, User_id e Session_id1": {
      "main": [
        [
          {
            "node": "15 Minutos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Enviar para schedule follow carrinho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "bEV4hbeNKgIZm4dF"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.8.3",
            "content-length": "266",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n_webhook:5678",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "evento": "shipping",
            "cart_id": 1771583463,
            "email": "paulorodriguesbatista3@gmail.com",
            "phone": "+5566992118608",
            "nome": "Paulo",
            "utm_campaign": "120219683481780619",
            "utm_content": "120224888462600619",
            "utm_source": "ig",
            "utm_medium": "paid",
            "utm_term": "120224888462610619"
          },
          "webhookUrl": "https://webhook-kupaa.iamanda.com.br/webhook/3cff3bcc-73af-46f5-8c59-e5cdea68947b",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "84ac5f87-a507-4cc5-9536-b8f5a38fc2dc",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-07-28T15:52:25.758Z",
      "updatedAt": "2025-07-28T15:52:25.758Z",
      "role": "workflow:owner",
      "workflowId": "JfEe1U83k7NIEYlH",
      "projectId": "aa1bNLMjpk4LlVBL",
      "project": {
        "createdAt": "2025-07-24T21:39:43.180Z",
        "updatedAt": "2025-07-24T21:40:55.821Z",
        "id": "aa1bNLMjpk4LlVBL",
        "name": "IAmanda kupaa <iamanda.suporte@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}