backups/iamanda-workflow-mhni0ZNQKiYzVnFl.json
{
  "createdAt": "2025-07-31T20:20:24.842Z",
  "updatedAt": "2025-08-15T15:12:55.437Z",
  "id": "mhni0ZNQKiYzVnFl",
  "name": "[ IAmanda ] - Tools - Encaminhando de mensagem",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "16caa2a6-42dd-4b83-bede-34c880f8a6bc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        112,
        752
      ],
      "name": "Webhook",
      "id": "fc42dae7-dd8b-4dbe-9e1a-3f1021081539"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Atendimento encaminhado com sucesso",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1088,
        672
      ],
      "name": "Respond to Webhook",
      "id": "70374d66-ca83-4770-9e40-b7b1d3f23512"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apiwp.leopose.digital/message/sendText/automacao_022",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "9EF74427C75D-41C8-A052-2245BA82EC3F"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=554788576788"
            },
            {
              "name": "text",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"text\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        672
      ],
      "name": "Enviar mensagem",
      "id": "6a0c089b-c7d3-46a6-8742-8b07c062fbc9"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessions",
          "mode": "list",
          "cachedResultName": "sessions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $node[\"Webhook\"].json[\"body\"][\"session_id\"] }}",
            "suporte": true
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "follow_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "suporte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "block",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        672
      ],
      "name": "Ativa atendimento",
      "credentials": {
        "postgres": {
          "id": "7hVSNHLK8ZyeDUth",
          "name": "Postgres account"
        }
      },
      "id": "bf3fbd5a-ad16-4e37-a646-b44afad3776e"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessions",
          "mode": "list",
          "cachedResultName": "sessions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $node[\"Webhook\"].json[\"body\"][\"session_id\"] }}",
            "suporte": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "follow_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "displayName": "suporte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "displayName": "block",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        672
      ],
      "name": "Desativa atendimento",
      "credentials": {
        "postgres": {
          "id": "7hVSNHLK8ZyeDUth",
          "name": "Postgres account"
        }
      },
      "id": "6105db9e-d793-416f-ac2e-378a38817453"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1536,
        672
      ],
      "name": "3 Horas",
      "id": "a9bd1214-555a-47da-a015-085fd7b34acd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $node[\"Verifica se tem atendimento ativo\"].json[\"suporte\"] }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        752
      ],
      "name": "If",
      "id": "82646b88-0f3f-489b-b266-0d71526774f0"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Atendimento encaminhado com sucesso",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        848,
        864
      ],
      "name": "Respond to Webhook1",
      "id": "910775ff-051a-4da3-bc97-288a6446db3e"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessions",
          "mode": "list",
          "cachedResultName": "sessions"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $json.body.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        752
      ],
      "name": "Verifica se tem atendimento ativo",
      "credentials": {
        "postgres": {
          "id": "7hVSNHLK8ZyeDUth",
          "name": "Postgres account"
        }
      },
      "id": "8d01aa6f-509b-4a8b-9760-7056c23917da"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verifica se tem atendimento ativo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Ativa atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensagem": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ativa atendimento": {
      "main": [
        [
          {
            "node": "3 Horas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 Horas": {
      "main": [
        [
          {
            "node": "Desativa atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Enviar mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem atendimento ativo": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "bEV4hbeNKgIZm4dF"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "b847236c-eee9-454a-93c5-aee91435c9a0",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-07-31T20:20:24.842Z",
      "updatedAt": "2025-07-31T20:20:24.842Z",
      "role": "workflow:owner",
      "workflowId": "mhni0ZNQKiYzVnFl",
      "projectId": "aa1bNLMjpk4LlVBL",
      "project": {
        "createdAt": "2025-07-24T21:39:43.180Z",
        "updatedAt": "2025-07-24T21:40:55.821Z",
        "id": "aa1bNLMjpk4LlVBL",
        "name": "IAmanda kupaa <iamanda.suporte@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}