backups/iamanda-workflow-iS1fgaFHumQDgHHF.json
{
  "createdAt": "2025-07-31T17:08:44.177Z",
  "updatedAt": "2025-08-23T16:45:39.159Z",
  "id": "iS1fgaFHumQDgHHF",
  "name": "Backup - Workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1200,
        864
      ],
      "id": "39b146c1-de1c-4bd0-b684-e55448d65de6",
      "name": "1 HORA"
    },
    {
      "parameters": {
        "command": "rm -r repo\n\nnpx n8n export:workflow --backup --output repo/backups/"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1824,
        864
      ],
      "id": "522b78bf-efe8-4283-a59c-538d2987ba01",
      "name": "Buscar workflows"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/repo/backups/*.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2064,
        864
      ],
      "id": "ccda0758-9fd1-4e71-8140-d893fff6d5e1",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2272,
        864
      ],
      "id": "657be7a1-ab6f-4738-b016-d6b34052bf1e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2496,
        864
      ],
      "id": "5a1f9195-56fa-4f1f-8ed6-6e83d31c67b6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3168,
        864
      ],
      "id": "a90d3de3-9fdf-4a2e-bfd8-2038aa9dae70",
      "name": "Wait",
      "webhookId": "842b1584-8e02-4c9a-945e-caf2046a849d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3440,
        848
      ],
      "id": "3234bc5f-9472-4241-86a8-e5d8095aef0d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "const axios = require('axios');\n\nconst dados = $json[\"data\"]\n// === CONFIGURAÇÃO ===\n// ⚠️ Use variável de ambiente no n8n. Rotacione esse token que está em claro.\nconst githubToken = $node[\"Edit Fields\"].json[\"constants\"][\"TOKEN_GITHUB\"]\nif (!githubToken) {\n  throw new Error('Token do GitHub não definido. Configure a variável de ambiente GITHUB_TOKEN.');\n}\n\nconst owner = $node[\"Edit Fields\"].json[\"constants\"][\"OWNER\"]\nconst repo = $node[\"Edit Fields\"].json[\"constants\"][\"REPO\"]\nconst branch = $node[\"Edit Fields\"].json[\"constants\"][\"BRANCH\"]\n\n// === Utils ===\nfunction encodePathSegments(p) {\n  return p.split('/').map(encodeURIComponent).join('/');\n}\n\n// === Dados de entrada ===\nconst workflowData = (typeof dados !== 'undefined' && dados) ? dados : $input.first().json;\nconst today = new Date().toISOString().slice(0, 10); // YYYY-MM-DD\n\n// monta nome de arquivo: usa id se tiver, senão data\nconst identifier = workflowData.id ? workflowData.id : today;\nconst pathInRepo = `backups/iamanda-workflow-${identifier}.json`;\nconst apiBase = `https://api.github.com/repos/${owner}/${repo}/contents/${encodePathSegments(pathInRepo)}`;\nconst commitMessage = `Backup automático do workflow IAmanda em ${today}`;\n\n// prepara conteúdo\nconst fileContentStr = JSON.stringify(workflowData, null, 2);\nconst contentBase64 = Buffer.from(fileContentStr, 'utf8').toString('base64');\n\n// ==== helper: cria bypass de Push Protection ====\nasync function createPushProtectionBypass(placeholderId, reason = 'will_fix_later') {\n  const url = `https://api.github.com/repos/${owner}/${repo}/secret-scanning/push-protection-bypasses`;\n  const resp = await axios.post(url, { reason, placeholder_id: placeholderId }, {\n    headers: {\n      Authorization: `Bearer ${githubToken}`,\n      'User-Agent': 'n8n-backup-script',\n      Accept: 'application/vnd.github+json',\n      'X-GitHub-Api-Version': '2022-11-28',\n    },\n    validateStatus: (s) => s >= 200 && s < 300,\n  });\n  return resp.data;\n}\n\nasync function run() {\n  // 1) Verifica existência (pega sha se existir)\n  let sha;\n  try {\n    const getResp = await axios.get(apiBase, {\n      params: { ref: branch },\n      headers: {\n        Authorization: `Bearer ${githubToken}`,\n        'User-Agent': 'n8n-backup-script',\n        Accept: 'application/vnd.github+json',\n        'X-GitHub-Api-Version': '2022-11-28',\n      },\n      validateStatus: (s) => s === 200 || s === 404,\n    });\n    if (getResp.status === 200 && getResp.data?.sha) sha = getResp.data.sha;\n  } catch (err) {\n    throw new Error(`Erro ao verificar existência do arquivo no GitHub: ${err.message}`);\n  }\n\n  // 2) Monta payload\n  const body = {\n    message: commitMessage,\n    content: contentBase64,\n    branch,\n    ...(sha ? { sha } : {}),\n  };\n\n  // 3) Tenta criar/atualizar\n  try {\n    const putResp = await axios.put(apiBase, body, {\n      headers: {\n        Authorization: `Bearer ${githubToken}`,\n        'User-Agent': 'n8n-backup-script',\n        Accept: 'application/vnd.github+json',\n        'X-GitHub-Api-Version': '2022-11-28',\n      },\n      validateStatus: (s) => s === 201 || s === 200,\n    });\n\n    const result = putResp.data;\n    return {\n      success: true,\n      created: putResp.status === 201,\n      commit: result.commit?.sha || null,\n      url: result.content?.html_url || null,\n      skipped: false,\n      bypassed: false,\n    };\n  } catch (err) {\n    const status = err.response?.status;\n    const data = err.response?.data;\n\n    // 4) Trata 409 de Push Protection (Secret detected in content)\n    const isPushProtection =\n      status === 409 &&\n      data &&\n      typeof data.message === 'string' &&\n      data.message.toLowerCase().includes('secret detected');\n\n    if (!isPushProtection) {\n      // outro erro → propaga com detalhes\n      throw new Error(`Erro ao criar/atualizar o arquivo no GitHub: ${status} ${JSON.stringify(data)}`);\n    }\n\n    // extrai placeholders\n    const placeholders = data?.metadata?.secret_scanning?.bypass_placeholders || [];\n    if (!Array.isArray(placeholders) || placeholders.length === 0) {\n      throw new Error(`409 (Push Protection) sem bypass_placeholders. Payload: ${JSON.stringify(data)}`);\n    }\n\n    // 5) Solicita BYPASS para cada placeholder retornado\n    for (const ph of placeholders) {\n      const placeholderId = ph?.placeholder_id;\n      if (!placeholderId) continue;\n      try {\n        await createPushProtectionBypass(placeholderId, 'will_fix_later');\n      } catch (e2) {\n        const s2 = e2.response?.status;\n        const d2 = e2.response?.data;\n        throw new Error(`Falha ao solicitar bypass (${placeholderId}): ${s2} ${JSON.stringify(d2)}`);\n      }\n    }\n\n    // 6) Retry do PUT após o bypass\n    try {\n      const retryResp = await axios.put(apiBase, body, {\n        headers: {\n          Authorization: `Bearer ${githubToken}`,\n          'User-Agent': 'n8n-backup-script',\n          Accept: 'application/vnd.github+json',\n          'X-GitHub-Api-Version': '2022-11-28',\n        },\n        validateStatus: (s) => s === 201 || s === 200,\n      });\n\n      const result = retryResp.data;\n      return {\n        success: true,\n        created: retryResp.status === 201,\n        commit: result.commit?.sha || null,\n        url: result.content?.html_url || null,\n        skipped: false,\n        bypassed: true,\n      };\n    } catch (e3) {\n      const s3 = e3.response?.status;\n      const d3 = e3.response?.data;\n      throw new Error(`PUT após bypass falhou: ${s3} ${JSON.stringify(d3)}`);\n    }\n  }\n}\n\nreturn run();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        864
      ],
      "id": "4528575b-54b9-474f-b4ee-bc46fedf3356",
      "name": "Code4"
    },
    {
      "parameters": {
        "content": "### Instalar o Global Community Node\nn8n-nodes-globals\nCrie uma credencial com essas variáveis\n```\nTOKEN_DIRECTUS=\nURL_DIRECTUS=\nTOKEN_N8N=\nTOKEN_GITHUB=\nRABBIT_USER=\nRABBIT_PASSWORD=\n```",
        "height": 580,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        544
      ],
      "typeVersion": 1,
      "id": "7fa8c91a-6460-4d48-bc66-a9a46ffd0941",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        1424,
        864
      ],
      "id": "52256865-de9a-4ad6-8974-79d30b53d4f5",
      "name": "Variables",
      "credentials": {
        "globalConstantsApi": {
          "id": "qi0UIpSe5wP89Cyf",
          "name": "Global Constants account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4358d18a-768e-47e9-8ad0-e2a02fff7f27",
              "name": "constants.BRANCH",
              "value": "={{ $json.constants.BRANCH }}",
              "type": "string"
            },
            {
              "id": "02e03606-5b6c-40cd-ab0e-978e35402e3f",
              "name": "constants.TOKEN_GITHUB",
              "value": "={{ $json.constants.TOKEN_GITHUB }}",
              "type": "string"
            },
            {
              "id": "e4ff2dbe-dc6d-4148-8607-ea661fe813d0",
              "name": "constants.OWNER",
              "value": "={{ $json.constants.OWNER }}",
              "type": "string"
            },
            {
              "id": "e2316fd4-974d-482a-8e5c-d69ecc1f9767",
              "name": "constants.REPO",
              "value": "={{ $json.constants.REPO }}",
              "type": "string"
            },
            {
              "id": "cbfa9bca-1c77-4f95-a30d-173abea22d1f",
              "name": "constants.PASSPHRASE",
              "value": "={{ $json.constants.PASSPHRASE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        864
      ],
      "id": "acc39eae-133e-41ec-9a2b-0c3a772654ae",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1319f8ab-4601-4553-bc1c-420dd6b0b221",
              "leftValue": "={{ $node[\"Loop Over Items\"].json[\"data\"][\"id\"] }}",
              "rightValue": "qi0UIpSe5wP89Cyf",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2736,
        880
      ],
      "id": "1433d798-1f19-4407-b6ce-f970b81bf872",
      "name": "If1"
    }
  ],
  "connections": {
    "1 HORA": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar workflows": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Buscar workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "bEV4hbeNKgIZm4dF"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:1 HORA": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f1df7a5c-b04f-4b8c-b276-2d4bc71d9de1",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-07-31T17:08:44.177Z",
      "updatedAt": "2025-07-31T17:08:44.177Z",
      "role": "workflow:owner",
      "workflowId": "iS1fgaFHumQDgHHF",
      "projectId": "aa1bNLMjpk4LlVBL",
      "project": {
        "createdAt": "2025-07-24T21:39:43.180Z",
        "updatedAt": "2025-07-24T21:40:55.821Z",
        "id": "aa1bNLMjpk4LlVBL",
        "name": "IAmanda kupaa <iamanda.suporte@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}