backups/iamanda-workflow-bs2l7Kzp6L1gBquE.json
{
  "createdAt": "2025-07-28T15:47:04.737Z",
  "updatedAt": "2025-07-31T17:06:32.659Z",
  "id": "bs2l7Kzp6L1gBquE",
  "name": "[ IAmanda ] - Carrinho abandonado - part4",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        368,
        336
      ],
      "id": "9830123e-e93a-4837-85af-45a0fb8ad78c",
      "name": "Evolution API3",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {},
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2368,
        192
      ],
      "id": "a0c7d051-aa44-4dbd-8db6-00d024f9a019",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "limit": 10,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $node[\"Loop Over Items3\"].json[\"session\"] }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1648,
        272
      ],
      "id": "348884df-dbf0-44b2-b298-b8cdefb7f811",
      "name": "Lista o historico de conversa2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1456,
        272
      ],
      "id": "959ae23f-c116-4000-8b75-6de633e3a28f",
      "name": "Agrega em um objeto3"
    },
    {
      "parameters": {
        "jsCode": "const messages = $input.first().json.message\n\nconst novaData = new Date()\nconst horaAtual = new Date(novaData.getTime() - 3 * 60 * 60 * 1000)\n\nconst conversation = messages\n  .filter(m => m?.message?.content !== null && m?.message?.content !== undefined)\n  .map((message) => {\n    const originalDate = new Date(message.created_at)\n    const adjustedDate = new Date(originalDate.getTime() - 3 * 60 * 60 * 1000) // ajuste horário\n\n    return {\n      type: message.message.type,\n      content: message.message.content,\n      time: adjustedDate.toISOString()\n    }\n  })\n\nconversation.reverse()\n\n// Última mensagem\nconst ultimaMensagem = conversation[conversation.length - 1]\nconst horaUltimaMensagem = new Date(ultimaMensagem.time)\n\n// Cálculo do tempo decorrido\nconst tempoDecorridoMs = horaAtual - horaUltimaMensagem\nconst tempoDecorridoHour = Math.floor(tempoDecorridoMs / 3600000)\n\nreturn {\n  tempoDecorridoHour\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        272
      ],
      "id": "f76b28ee-5fb6-4a0d-a0db-dad61e4dd989",
      "name": "Soma tempo da ultima mensagem3"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_follow",
          "mode": "list",
          "cachedResultName": "tb_follow"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "follow_count": "=4",
            "id": "={{ $node[\"Loop Over Items3\"].json[\"id\"] }}",
            "last_messagem": "={{ $node[\"Merge Texto2\"].json[\"text\"].replace(/\\n/g, ' ').replace(/\"/g, '').replace(/\"/g, '') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_messagem",
              "displayName": "last_messagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow_count",
              "displayName": "follow_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id_cart",
              "displayName": "session_id_cart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "valor_total_carrinho",
              "displayName": "valor_total_carrinho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "produtos",
              "displayName": "produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        400
      ],
      "id": "6fefb377-389c-43a3-b546-b9db95fd329f",
      "name": "Inseri no TB follow2"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $now }}",
            "session_id": "={{ $node[\"Loop Over Items3\"].json[\"session\"] }}",
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"{{ $node[\"Merge Texto2\"].json[\"text\"].replace(/\\n/g, ' ').replace(/\"/g, '').replace(/\"/g, '') }}\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {\n    \"tipo\": [\"recuperacao_carrinho\", \"mensagem_para_quebrar_o_gelo\"]\n  }\n}\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        400
      ],
      "id": "15d66aef-64e9-4d19-aed0-aba4579a0cbd",
      "name": "Salva no char historie3"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $now }}",
            "session_id": "={{ $json.session_id }}",
            "message": "={\"type\":\"system\",\"content\":\"⚠️ Este cliente recebeu a terceira  mensagem de recuperação de carrinho. foi enviado a quarta mensagem para tentar recuperar a o carrinho.\",\"additional_kwargs\":{\"tipo\": \"recuperacao_carrinho\"},\"response_metadata\":{}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        816,
        400
      ],
      "id": "b7a31dcb-b367-4b59-81b5-6fe6535b3985",
      "name": "Salva mensagem Human2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessions",
          "mode": "list",
          "cachedResultName": "sessions"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $node[\"Loop Over Items3\"].json[\"session\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2112,
        208
      ],
      "id": "71b4ed7c-3b68-4409-966d-c0e96972e06b",
      "name": "Busca Sessao2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */15 8-21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3216,
        192
      ],
      "id": "e27f36a5-6204-44af-9f62-dd1b34887f48",
      "name": "Cada 15 minutos3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ba03471-d920-44ce-aaee-21a4d05f3c27",
              "leftValue": "={{ $json.block }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1888,
        208
      ],
      "id": "c309fc26-e9e8-47eb-8779-b8d659ab94b7",
      "name": "Verifica se tem block2"
    },
    {
      "parameters": {
        "content": "# ETAPA 4 FOLLOW",
        "height": 880,
        "width": 4600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3312,
        -16
      ],
      "typeVersion": 1,
      "id": "6394021d-dfd1-4f5b-a5bb-faedc6792749",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b861bfd2-24e0-4c7f-af78-140409e0eab5",
              "leftValue": "={{ $node[\"Soma tempo da ultima mensagem3\"].json[\"tempoDecorridoHour\"] }}",
              "rightValue": 24,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        272
      ],
      "id": "e215a8da-f1b0-40cb-b537-7d9a5c79cc50",
      "name": "Se passou 24hrs"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_usuarios",
          "mode": "list",
          "cachedResultName": "tb_usuarios"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $('Loop Over Items3').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        192
      ],
      "id": "c4584f20-0e7e-44ed-ae85-c3bc4b7fbf63",
      "name": "Puxando dados do cliente1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.nome }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Coloque o nome do usuario dentro do [nome]nesse texto aqui nao precisa explica, se nao tiver nome apenas remova o [nome]:\n\nOi [nome], tô passando só pra dizer que eu pedi aqui pros guris uma exceção pra você hoje 🥰\n\nMe fala se tem alguma dúvida ou o que te impede de fechar o pedido que vejo como posso te ajudar.\n\n\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -320,
        192
      ],
      "id": "72d33711-ef34-4e25-98e2-56798506a03a",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22f8fa00-abae-4dc7-b56c-8a38a600079a",
              "leftValue": "={{ $json.follow_count }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2656,
        192
      ],
      "id": "0201ee35-083c-4d40-8541-eca4660c27f0",
      "name": "Quantidade de follow 3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e358aee0-c38f-413b-84d3-dc6db53cdbec",
              "leftValue": "={{ $node[\"Agrega em um objeto3\"].json[\"message\"][0].message.type }}",
              "rightValue": "system",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -768,
        320
      ],
      "id": "6df6c81c-ed7c-4cd4-b482-d230c206b6ad",
      "name": "Verifica se o ultimo follow foi respondido2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        240
      ],
      "id": "201d35ca-5b57-4f66-855e-cf12739cfe02",
      "name": "OpenAI Chat Model6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Agrega em um objeto3\"].json[\"message\"] }}",
        "options": {
          "systemMessage": "=Chat, você vai receber o histórico de mensagens do cliente. Com base nesse histórico, crie uma mensagem de recuperação de carrinho personalizada e relevante, conectada ao contexto da conversa.\n\nO objetivo é convencer o cliente a finalizar a compra de forma natural e alinhada com o tom anterior.\n\nExemplo de mensagem que iramos mandar caso o cliente não tivesse respondido:\n\n\"Oi, tô passando só pra dizer que eu pedi aqui pros guris uma exceção pra você hoje 🥰\"\n\nInstruções importantes:\n- Use o histórico para manter coerência com o que já foi conversado.\n- Foque em criar uma mensagem que converta, mas sem prometer ofertas exageradas ou irreais.\n- Mantenha um tom amigável e de confiança.\n- Proponha apenas condições viáveis (exemplo: cupom de desconto ou brinde, garantia extra).\n- NÃO invente promoções ou condições que não existem.\n\nO resultado deve ser uma mensagem curta, persuasiva e conectada ao contexto anterior para estimular a finalização da compra.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -448,
        448
      ],
      "id": "6ade0e72-9daa-47b6-98ad-0b71d98d6502",
      "name": "Gerar uma mensagem com contexto2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        128,
        336
      ],
      "id": "ec39ee50-d3e5-4483-92dc-1625814257e0",
      "name": "Merge Texto2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fda5aa34-f464-4361-b6e6-c1bfc663da93",
              "name": "text",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        448
      ],
      "id": "38f6dba1-f9b6-418a-aaf0-8d640300d1bc",
      "name": "Texto4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM tb_follow fl\nWHERE (\n NOT EXISTS (\n    SELECT 1\n    FROM tb_compradores c\n    WHERE c.id_sessao = fl.session_id_cart\n  )\n)\nAND fl.follow_count = '3';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2976,
        192
      ],
      "id": "853a8540-b5a4-4eed-8b84-224108d868ee",
      "name": "Busca tb follow count 3"
    }
  ],
  "connections": {
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Busca Sessao2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista o historico de conversa2": {
      "main": [
        [
          {
            "node": "Agrega em um objeto3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrega em um objeto3": {
      "main": [
        [
          {
            "node": "Soma tempo da ultima mensagem3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soma tempo da ultima mensagem3": {
      "main": [
        [
          {
            "node": "Se passou 24hrs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inseri no TB follow2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva no char historie3": {
      "main": [
        [
          {
            "node": "Salva mensagem Human2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva mensagem Human2": {
      "main": [
        [
          {
            "node": "Inseri no TB follow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Sessao2": {
      "main": [
        [
          {
            "node": "Verifica se tem block2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada 15 minutos3": {
      "main": [
        [
          {
            "node": "Busca tb follow count 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem block2": {
      "main": [
        [
          {
            "node": "Lista o historico de conversa2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se passou 24hrs": {
      "main": [
        [
          {
            "node": "Verifica se o ultimo follow foi respondido2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Puxando dados do cliente1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge Texto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quantidade de follow 3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se o ultimo follow foi respondido2": {
      "main": [
        [
          {
            "node": "Puxando dados do cliente1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar uma mensagem com contexto2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Gerar uma mensagem com contexto2",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gerar uma mensagem com contexto2": {
      "main": [
        [
          {
            "node": "Texto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto4": {
      "main": [
        [
          {
            "node": "Merge Texto2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Busca tb follow count 3": {
      "main": [
        [
          {
            "node": "Quantidade de follow 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Cada 15 minutos3": [
      {
        "json": {
          "timestamp": "2025-07-16T18:00:00.044-03:00",
          "Readable date": "July 16th 2025, 6:00:00 pm",
          "Readable time": "6:00:00 pm",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "July",
          "Day of month": "16",
          "Hour": "18",
          "Minute": "00",
          "Second": "00",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "versionId": "a80bae0f-ae3b-464e-b872-77a005150ee0",
  "triggerCount": 0,
  "tags": []
}