repo/workflows/eFS8r2sNNTP1QTb8.json
{
  "createdAt": "2025-07-28T15:51:05.924Z",
  "updatedAt": "2025-07-28T15:51:15.208Z",
  "id": "eFS8r2sNNTP1QTb8",
  "name": "[ IAmanda ] - Recebimento de dados do GTM",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "log-site-n8n-plantie",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        192
      ],
      "id": "1c462f22-1ceb-4d6a-ba84-1200bf376946",
      "name": "Webhook",
      "webhookId": "871a3991-be5f-4329-b075-c76989611ab2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17ad4a11-29b8-4279-afe3-f1255de59486",
              "leftValue": "={{ $node[\"Dados Usuarios\"].json[\"email\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1216,
        208
      ],
      "id": "f34c3af8-a5d2-4136-93e1-8f4be31f8508",
      "name": "Filter"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_eventos",
          "mode": "list",
          "cachedResultName": "tb_eventos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data_criacao": "={{ $now }}",
            "nome_evento": "={{ $('Webhook').item.json.body.event_name }}",
            "id_sessao": "={{ $('Webhook').item.json.body.session_id }}",
            "source": "={{ $('Webhook').item.json.body.source }}",
            "medium": "={{ $('Webhook').item.json.body.medium }}",
            "campaign": "={{ $('Webhook').item.json.body.campaign }}",
            "content": "={{ $('Webhook').item.json.body.content }}",
            "term": "={{ $('Webhook').item.json.body.term }}",
            "user_id": "={{ $('Webhook').item.json.body.user_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "data_criacao",
              "displayName": "data_criacao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_sessao",
              "displayName": "id_sessao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome_evento",
              "displayName": "nome_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "medium",
              "displayName": "medium",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "term",
              "displayName": "term",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign",
              "displayName": "campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        96
      ],
      "id": "8f1a6003-e7ff-416e-9348-e81376faebbb",
      "name": "TB Eventos"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_compradores",
          "mode": "list",
          "cachedResultName": "tb_compradores"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "data_compra": "={{ $now }}",
            "valor_total": "={{ $('Webhook').item.json.body.value }}",
            "user_id": "={{ $('Webhook').item.json.body.user_id }}",
            "id_sessao": "={{ $('Webhook').item.json.body.session_id }}",
            "email": "={{ $('Webhook').item.json.body.user_data.email_address }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "data_compra",
              "displayName": "data_compra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_sessao",
              "displayName": "id_sessao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor_total",
              "displayName": "valor_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        320
      ],
      "id": "aad82270-0de6-4b12-92e9-4662e87e6d0b",
      "name": "TB Compradores",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "acesso_tray",
          "mode": "list",
          "cachedResultName": "acesso_tray"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "store_id",
              "value": "760360"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1600,
        48
      ],
      "id": "103d265e-5a16-4e52-aaea-b2c9c5d62a48",
      "name": "Dados API Tray1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_usuarios",
          "mode": "list",
          "cachedResultName": "tb_usuarios"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $node[\"Dados Usuarios\"].json[\"user_id\"] }}",
            "email": "={{ $node[\"Dados Usuarios\"].json[\"email\"] }}",
            "nome": "={{ $node[\"Dados Usuarios\"].json[\"name\"] }}",
            "telefone": "={{ $node[\"Dados Usuarios\"].json[\"phone\"] }}",
            "data_cadastro": "={{ $now }}"
          },
          "matchingColumns": [
            "email",
            "user_id"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        336
      ],
      "id": "d4ac49c5-aa3a-4dd0-b029-a316c252ee7f",
      "name": "TB Usuarios"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57a220fe-bc52-4da1-b21c-d8f59088ecb8",
              "name": "email",
              "value": "={{ $('Switch').item.json.body.user_data.email_address }}",
              "type": "string"
            },
            {
              "id": "6a8a7f19-2f77-42f6-8e54-e4a75e3e1080",
              "name": "phone",
              "value": "={{ $('Switch').item.json.body.user_data.phone_number }}",
              "type": "string"
            },
            {
              "id": "84290f0e-32ac-4150-9235-bb385837f253",
              "name": "session_id",
              "value": "={{ $('Webhook').item.json.body.session_id }}",
              "type": "string"
            },
            {
              "id": "2b18821b-5880-43c6-a618-87e307615741",
              "name": "name",
              "value": "={{ $('Switch').item.json.body.user_data.address.first_name.toLowerCase().replace(/^./, c => c.toUpperCase()) }}",
              "type": "string"
            },
            {
              "id": "2e052847-ca80-4947-85a6-7f15a0779c0b",
              "name": "user_id",
              "value": "={{ $('Switch').item.json.body.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        208
      ],
      "id": "6963ef0e-2194-4dc8-8b2e-1481b6b8ac84",
      "name": "Dados Usuarios"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_usuarios",
          "mode": "list",
          "cachedResultName": "tb_usuarios"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $node[\"Dados Usuarios\"].json[\"user_id\"] }}",
            "email": "={{ $json.Customer.email }}",
            "nome": "={{ $json.Customer.name }}",
            "telefone": "=55{{ $json.Customer.cellphone || $json.Customer.phone }}"
          },
          "matchingColumns": [
            "email",
            "user_id"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_cadastro",
              "displayName": "data_cadastro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2592,
        160
      ],
      "id": "5b5e9e1a-98f3-4742-a16a-c2d20a660b35",
      "name": "TB Usuarios2"
    },
    {
      "parameters": {
        "url": "={{ $node[\"Dados API Tray1\"].json[\"api_host\"] }}/customers?email={{ $node[\"Dados Usuarios\"].json[\"email\"] }}&access_token={{ $node[\"Dados API Tray1\"].json[\"access_token\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        160
      ],
      "id": "72b6e53f-05ea-4064-a2c6-96264a84fbb7",
      "name": "Consulta cliente pelo email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90463675-a2fc-4cb6-8772-3554c20f6680",
              "leftValue": "={{ $('Dados Usuarios').item.json.email }}",
              "rightValue": "**",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c6c4c07f-48d0-4de0-b214-d4dc33675937",
              "leftValue": "={{ $node[\"Dados Usuarios\"].json[\"name\"] }}",
              "rightValue": "**",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "26159a19-476d-407d-819f-b1e44dfec90d",
              "leftValue": "={{ $node[\"Dados Usuarios\"].json[\"phone\"].length }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "c4118c25-1d3c-4f2c-9a27-68e56b4a4e17",
              "leftValue": "={{ $node[\"Dados Usuarios\"].json[\"name\"] }}",
              "rightValue": "%",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "67841c34-79fc-498b-a0c4-1b56823e3f31",
              "leftValue": "={{ $node[\"Dados Usuarios\"].json[\"name\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        208
      ],
      "id": "17c53834-a38f-4657-a441-5a5ed2b632ba",
      "name": "Tem **?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05af1584-58bf-4591-97c7-89a08296708d",
                    "leftValue": "purchase",
                    "rightValue": "={{ $node[\"Webhook\"].json[\"body\"][\"event_name\"] }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Eventos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "=purchase",
                    "rightValue": "={{ $node[\"Webhook\"].json[\"body\"][\"event_name\"] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ecbda6a1-df01-4ac0-9559-ec22b3a95758"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Compra"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        144,
        192
      ],
      "id": "24a1929a-1595-402e-860a-60556bcaaa9b",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $node[\"Dados API Tray1\"].json[\"api_host\"] }}/carts/{{ $('Tem **?').item.json.session_id }}?access_token={{ $node[\"Dados API Tray1\"].json[\"access_token\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        -80
      ],
      "id": "98053515-a92f-4f72-b99d-ff0b5440c841",
      "name": "Consulta carrinho"
    },
    {
      "parameters": {
        "content": "",
        "height": 880,
        "width": 3260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -112
      ],
      "typeVersion": 1,
      "id": "924de10d-b49a-4e28-934b-a3dae4ed0948",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Log Site",
        "height": 80,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -112
      ],
      "typeVersion": 1,
      "id": "569ce16d-50ad-43ab-94c4-aabab4d1f169",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_usuarios",
          "mode": "list",
          "cachedResultName": "tb_usuarios"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $node[\"Dados Usuarios\"].json[\"user_id\"] }}",
            "email": "={{ $json.Customer.email }}",
            "nome": "={{ $json.Customer.name }}",
            "telefone": "=55{{ $json.Customer.cellphone }}"
          },
          "matchingColumns": [
            "email",
            "user_id"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2656,
        -96
      ],
      "id": "544baa59-1fff-423e-b8b6-e64575a5293a",
      "name": "TB Usuarios3"
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "={{ $node[\"Dados API Tray1\"].json[\"api_host\"] }}/customers/{{ $json.Cart.customer_id }}?access_token={{ $node[\"Dados API Tray1\"].json[\"access_token\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        -80
      ],
      "id": "3401ce11-8187-474f-99f9-c4f6ca752229",
      "name": "Consulta cliente pelo costumer",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2192,
        -80
      ],
      "id": "e198f966-30fa-4394-8eb4-de6422864142",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        752,
        528
      ],
      "id": "6e5d0578-2037-4120-b4d2-20181dd0657d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        816,
        208
      ],
      "id": "b7557aec-c181-4b2f-a1a0-5bb74822f475",
      "name": "Limit1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webhook.leopose.digital/webhook/venda-recorrente-ecommerce",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "313020955"
            },
            {
              "name": "email",
              "value": "={{ $json.body.user_data.email_address }}"
            },
            {
              "name": "valor_compra",
              "value": "={{ $json.body.value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        528
      ],
      "id": "e55ae8cb-d919-4a97-b61b-7ae04ff152f9",
      "name": "Registra Venda Recorrente Dash"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        256,
        592
      ],
      "id": "111efc54-59a7-4cd1-a64e-422fdc891555",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "evento",
              "value": "={{ $('Webhook').item.json.body.event_name }}"
            },
            {
              "key": "email_usuario",
              "value": "={{ $('Webhook').item.json.body.user_data.email_address }}"
            },
            {
              "key": "session_id",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"session_id\"] }}"
            },
            {
              "key": "user_id",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"user_id\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        96,
        448
      ],
      "id": "eb444eba-c457-4ebb-880a-d30da21306fa",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_webhook:5678/webhook/b7078134-000a-40bd-bbe1-98fcf4e73c56",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        352
      ],
      "id": "36a5f0eb-f67b-45b7-972d-184edfd7d8b8",
      "name": "Enviar para fluxo Switch site"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e82154c-bfdb-46ec-b584-4c141641b4b1",
              "leftValue": "={{ $('Dados Usuarios').item.json.email }}",
              "rightValue": "**",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "09b95683-0ddd-44ed-bae6-20e403978c83",
              "leftValue": "={{ $('Dados Usuarios').item.json.email }}",
              "rightValue": "%",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1776,
        48
      ],
      "id": "3012b5a0-836b-4982-ab30-ef8a11031291",
      "name": "Se email tiver **"
    },
    {
      "parameters": {
        "url": "={{ $node[\"Dados API Tray1\"].json[\"api_host\"] }}/customers/{{ $json.Customers[0].Customer.id }}?access_token={{ $node[\"Dados API Tray1\"].json[\"access_token\"] }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        160
      ],
      "id": "30fb7a42-61cb-4195-b801-5c61a2aa472a",
      "name": "Busca dados detalhados do usuario"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "83f4f4c8-3fc6-4f45-ae50-6f6134a9dd65",
              "leftValue": "={{ $json.Customers }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2192,
        160
      ],
      "id": "b5e48452-1cad-43fc-a58f-ca02f6077a84",
      "name": "Verifica se nao está vazio"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Enviar para fluxo Switch site",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Tem **?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TB Eventos": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TB Compradores": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados API Tray1": {
      "main": [
        [
          {
            "node": "Se email tiver **",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados Usuarios": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta cliente pelo email": {
      "main": [
        [
          {
            "node": "Verifica se nao está vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem **?": {
      "main": [
        [
          {
            "node": "Dados API Tray1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TB Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "TB Eventos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TB Compradores",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registra Venda Recorrente Dash",
            "type": "main",
            "index": 0
          },
          {
            "node": "TB Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta carrinho": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta cliente pelo costumer": {
      "main": [
        [
          {
            "node": "TB Usuarios3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Consulta cliente pelo costumer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Dados Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registra Venda Recorrente Dash": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar para fluxo Switch site": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se email tiver **": {
      "main": [
        [
          {
            "node": "Consulta carrinho",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consulta cliente pelo email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca dados detalhados do usuario": {
      "main": [
        [
          {
            "node": "TB Usuarios2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se nao está vazio": {
      "main": [
        [
          {
            "node": "Busca dados detalhados do usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.plantie.com.br",
            "content-length": "2876",
            "content-type": "application/json",
            "x-forwarded-for": "35.199.118.57",
            "x-forwarded-host": "n8n.plantie.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0de1b7e87cb0",
            "x-real-ip": "35.199.118.57",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "event_name": "add_to_cart",
            "items": [
              {
                "item_name": "XÔ PRAGA - Controle Natural de Pragas - 100ml",
                "item_id": "1043",
                "item_category": "ADUBO E SUBSTRATO PARA PLANTAS",
                "price": 28.9,
                "quantity": 1
              }
            ],
            "source": "iamanda",
            "x-fb-ud-external_id": "I9TarPLfQA35PY5VPS+X8mHooYeuKCGvDP6706Wtt08=.1730752216",
            "telefonesem55": "55",
            "value": "28.90",
            "event_id": "1730752691330_175277318511641",
            "x-fb-cd-content_ids": "1043",
            "x-fb-cd-content_type": "product",
            "x-fb-cd-content_category": "ADUBO E SUBSTRATO PARA PLANTAS",
            "x-fb-cd-content_name": "XÔ PRAGA - Controle Natural de Pragas - 100ml",
            "x-fb-ck-fbp": "fb.2.1752766953400.2035834624",
            "x-fb-ck-fbc": "fb.2.1752766953400.PAZXh0bgNhZW0BMABhZGlkAasghA13FhsBp1MMJ322xSsttHe8779Uv8QmpHLQyMyq3PnamodWuRJKiGqW4eYRgMf0Au6__aem_NSTm21rlL90klGsMAFjBAw",
            "engagement_time_msec": 8018,
            "user_data": {
              "address": {
                "country": "br",
                "city": "sao%20paulo",
                "region": "sp",
                "first_name": "ELINETE",
                "last_name": "MIGUEL"
              },
              "email_address": "clesiamiguel@hotmail.com",
              "phone_number": "55"
            },
            "x-ga-protocol_version": "2",
            "x-ga-measurement_id": "G-CPM5558G29",
            "x-ga-gtm_version": "45je57g0v886821267z8831905287za200zb831905287",
            "x-ga-page_id": 1752772656911,
            "x-ga-gcd": "13l3l3l3l1l1",
            "x-ga-npa": "0",
            "x-ga-dma": "0",
            "x-ga-mp2-tag_exp": "101509157~103116026~103200004~103233427~103351869~103351871~104684208~104684211~104732253~104732255~104908321~104908323~104964065~104964067~104967141~104967143",
            "client_id": "I9TarPLfQA35PY5VPS+X8mHooYeuKCGvDP6706Wtt08=.1730752216",
            "x-ga-ecid": "845781121",
            "language": "pt-br",
            "screen_resolution": "393x873",
            "x-ga-mp2-ir": "1",
            "event_location": {
              "country": "BR",
              "region": "TO"
            },
            "client_hints": {
              "architecture": "",
              "bitness": "",
              "full_version_list": [
                {
                  "brand": "Not)A;Brand",
                  "version": "8.0.0.0"
                },
                {
                  "brand": "Chromium",
                  "version": "138.0.7204.157"
                },
                {
                  "brand": "Google Chrome",
                  "version": "138.0.7204.157"
                }
              ],
              "mobile": true,
              "model": "2201116SI",
              "platform": "Android",
              "platform_version": "13.0.0",
              "wow64": false
            },
            "x-ga-are": "1",
            "x-ga-mp2-frm": "0",
            "x-ga-pscdl": "noapi",
            "user_data_mode": "c",
            "x-ga-system_properties": {
              "eu": [
                4,
                34
              ],
              "tu": "Dg"
            },
            "x-sst-system_properties": {
              "etld": "google.com.br",
              "tft": "1752772656911",
              "lpc": "7923571",
              "navt": "n",
              "ude": "1",
              "sw_exp": "1",
              "request_start_time_ms": 1752771835827
            },
            "x-ga-request_count": 5,
            "campaign_source": "iamanda",
            "currency": "BRL",
            "ga_session_id": "1752771005",
            "ga_session_number": 3,
            "x-ga-mp2-seg": "1",
            "page_location": "https://www.plantie.com.br/xo-praga-controle-natural-de-pragas-100ml",
            "page_referrer": "https://www.plantie.com.br/substrato-para-plantas",
            "page_title": "XÔ PRAGA - Controle Natural de Pragas - 100ml - Plantie - Semeando Natureza, Cultivando Bem-Estar",
            "x-ga-tfd": 11753,
            "ip_override": "172.69.114.58",
            "user_agent": "Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Mobile Safari/537.36",
            "session_id": "c3r90osmvqbqtj9k40r3jhic04",
            "user_id": "I9TarPLfQA35PY5VPS+X8mHooYeuKCGvDP6706Wtt08=.1730752216"
          },
          "webhookUrl": "https://n8n.plantie.com.br/webhook/log-site-n8n-plantie",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "398df8f0-05a5-48d0-80fb-70710ad6b49e",
  "triggerCount": 0,
  "tags": []
}