repo/workflows/piPOOrPsmUGhRfGb.json
{
  "createdAt": "2025-07-28T15:47:41.256Z",
  "updatedAt": "2025-07-31T17:06:29.646Z",
  "id": "piPOOrPsmUGhRfGb",
  "name": "[ IAmanda ] - Carrinho abandonado - part5",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "# ETAPA 5 FOLLOW",
        "height": 880,
        "width": 4600,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        576
      ],
      "typeVersion": 1,
      "id": "6d7e26b1-058d-410e-860a-bc45b6cfd30a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4560,
        944
      ],
      "id": "2038af4e-72d7-4733-b55a-81ff56295946",
      "name": "Evolution API4",
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "credentials": {},
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1680,
        848
      ],
      "id": "00970001-d765-41cf-ae97-30f8edc52c00",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "limit": 10,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $node[\"Loop Over Items4\"].json[\"session\"] }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2336,
        896
      ],
      "id": "a57eaf2f-63c5-40e0-83d1-25edeca03754",
      "name": "Lista o historico de conversa3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2544,
        896
      ],
      "id": "7ad3ed6a-9aea-42b6-8e5d-204301004ba5",
      "name": "Agrega em um objeto4"
    },
    {
      "parameters": {
        "jsCode": "const messages = $input.first().json.message\n\nconst novaData = new Date()\nconst horaAtual = new Date(novaData.getTime() - 3 * 60 * 60 * 1000)\n\nconst conversation = messages\n  .filter(m => m?.message?.content !== null && m?.message?.content !== undefined)\n  .map((message) => {\n    const originalDate = new Date(message.created_at)\n    const adjustedDate = new Date(originalDate.getTime() - 3 * 60 * 60 * 1000) // ajuste horário\n\n    return {\n      type: message.message.type,\n      content: message.message.content,\n      time: adjustedDate.toISOString()\n    }\n  })\n\nconversation.reverse()\n\n// Última mensagem\nconst ultimaMensagem = conversation[conversation.length - 1]\nconst horaUltimaMensagem = new Date(ultimaMensagem.time)\n\n// Cálculo do tempo decorrido\nconst tempoDecorridoMs = horaAtual - horaUltimaMensagem\nconst tempoDecorridoHour = Math.floor(tempoDecorridoMs / 3600000)\n\nreturn {\n  tempoDecorridoHour\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2736,
        896
      ],
      "id": "0faa8678-063f-4e88-9ac7-f61ae46694b1",
      "name": "Soma tempo da ultima mensagem4"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_follow",
          "mode": "list",
          "cachedResultName": "tb_follow"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "follow_count": "=5",
            "id": "={{ $node[\"Loop Over Items4\"].json[\"id\"] }}",
            "last_messagem": "={{ $node[\"Merge Texto\"].json[\"text\"].replace(/\\n/g, ' ').replace(/\"/g, '').replace(/\"/g, '') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_messagem",
              "displayName": "last_messagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow_count",
              "displayName": "follow_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id_cart",
              "displayName": "session_id_cart",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "valor_total_carrinho",
              "displayName": "valor_total_carrinho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session",
              "displayName": "session",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "produtos",
              "displayName": "produtos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5296,
        976
      ],
      "id": "d7f77679-6698-4d08-9765-145cf5be5079",
      "name": "Inseri no TB follow3"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $now }}",
            "session_id": "={{ $node[\"Loop Over Items4\"].json[\"session\"] }}",
            "message": "={\n  \"type\": \"ai\",\n  \"content\": \"{{ $node[\"Merge Texto\"].json[\"text\"].replace(/\\n/g, ' ').replace(/\"/g, '').replace(/\"/g, '') }}\",\n  \"tool_calls\": [],\n  \"additional_kwargs\": {\n    \"tipo\": [\"recuperacao_carrinho\"]\n  }\n}\n"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4864,
        976
      ],
      "id": "e2ccb63c-3b40-48b4-96c4-948ba110720b",
      "name": "Salva no char historie4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */15 8-21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        976,
        848
      ],
      "id": "008f988c-f03e-4cc3-a591-97d3383c0303",
      "name": "Cada 15 minutos4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ba03471-d920-44ce-aaee-21a4d05f3c27",
              "leftValue": "={{ $json.block }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2096,
        864
      ],
      "id": "472e45fb-552f-4ff3-bf8a-d7755b7e3a2d",
      "name": "Verifica se tem block3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b861bfd2-24e0-4c7f-af78-140409e0eab5",
              "leftValue": "={{ $node[\"Soma tempo da ultima mensagem4\"].json[\"tempoDecorridoHour\"] }}",
              "rightValue": 48,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2960,
        896
      ],
      "id": "ae70c053-8fb6-41e7-ae4a-fa17e70543ac",
      "name": "Se passou 48hrs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "22f8fa00-abae-4dc7-b56c-8a38a600079a",
              "leftValue": "={{ $json.follow_count }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1440,
        848
      ],
      "id": "02dae80b-42a6-404b-b077-7514007b4839",
      "name": "Quantidade de follow 4"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $now }}",
            "session_id": "={{ $json.session_id }}",
            "message": "={\"type\":\"system\",\"content\":\"⚠️ Este cliente recebeu a terceira  mensagem de recuperação de carrinho. foi enviado a quinta mensagem para tentar recuperar o carrinho abandonado.\",\"additional_kwargs\":{\"tipo\": \"recuperacao_carrinho\"},\"response_metadata\":{}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5088,
        976
      ],
      "id": "c381bfab-843e-4d6a-81b9-1b857b0af74f",
      "name": "Inserindo historico system"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e358aee0-c38f-413b-84d3-dc6db53cdbec",
              "leftValue": "={{ $node[\"Agrega em um objeto4\"].json[\"message\"][0].message.type }}",
              "rightValue": "system",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3200,
        944
      ],
      "id": "75258b64-ebea-4082-a3d1-a877b4d80116",
      "name": "Verifica se o ultimo follow foi respondido"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3856,
        976
      ],
      "id": "e8af965f-0b4b-4e65-9980-5cfd657e0970",
      "name": "OpenAI Chat Model4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Agrega em um objeto4\"].json[\"message\"] }}",
        "options": {
          "systemMessage": "Chat, você vai receber o histórico de mensagens do cliente. Com base nesse histórico, crie uma mensagem de recuperação de carrinho personalizada e relevante, conectada ao contexto da conversa.\n\nO objetivo é convencer o cliente a finalizar a compra de forma natural e alinhada com o tom anterior.\n\nExemplo de mensagem que iramos mandar caso o cliente não tivesse respondido:\n\n\"E só pra te deixar confiante do nosso vaso autoirrigável: te dou uma garantia extra de 60 dias pra testar os vasos Plantiê. Se você não gostar, devolvo 100% do seu dinheiro, sem nem te perguntar o porquê 💚 Você deseja que eu gere um cupom especial pra você aproveitar?\"\n\nInstruções importantes:\n- Use o histórico para manter coerência com o que já foi conversado.\n- Foque em criar uma mensagem que converta, mas sem prometer ofertas exageradas ou irreais.\n- Mantenha um tom amigável e de confiança.\n- Proponha apenas condições viáveis (exemplo: cupom de desconto ou brinde, garantia extra).\n- NÃO invente promoções ou condições que não existem.\n\nO resultado deve ser uma mensagem curta, persuasiva e conectada ao contexto anterior para estimular a finalização da compra.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        3504,
        960
      ],
      "id": "4716f1b1-a2e6-455f-a52c-830621ba02a4",
      "name": "Gerar uma mensagem com contexto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fda5aa34-f464-4361-b6e6-c1bfc663da93",
              "name": "text",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4048,
        960
      ],
      "id": "3a1d1790-8209-4435-89a2-f6e7c43a39b0",
      "name": "Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "58e5cd38-569d-4ca2-a1ac-eee728156a84",
              "name": "text",
              "value": "E só pra te deixar confiante do nosso vaso autoirrigável: Te dou uma garantia extra de 60 dias pra testar os vasos Plantiê. Se você não gostar, devolvo 100% do seu dinheiro, sem nem te perguntar o porquê 💚  Você deseja que eu gere um cupom especial pra você aproveitar?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3760,
        784
      ],
      "id": "bd239abb-7ef7-4522-aac6-bda2c19c37f7",
      "name": "Texto1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4368,
        944
      ],
      "id": "abda7db1-d797-46e3-876a-78e0e17e76d6",
      "name": "Merge Texto"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sessions",
          "mode": "list",
          "cachedResultName": "sessions"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $node[\"Loop Over Items4\"].json[\"session\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1904,
        864
      ],
      "id": "98d1484d-7f32-463c-84e8-0befb883b85f",
      "name": "Busca Sessao 3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM tb_follow fl\nWHERE (\n  NOT EXISTS (\n    SELECT 1\n    FROM tb_compradores c\n    WHERE c.id_sessao = fl.session_id_cart\n  )\n)\nAND fl.follow_count = '4';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        848
      ],
      "id": "e096d99d-8b97-4075-a9fb-59b77e39e629",
      "name": "Busca tb follow count 4"
    }
  ],
  "connections": {
    "Loop Over Items4": {
      "main": [
        [],
        [
          {
            "node": "Busca Sessao 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista o historico de conversa3": {
      "main": [
        [
          {
            "node": "Agrega em um objeto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrega em um objeto4": {
      "main": [
        [
          {
            "node": "Soma tempo da ultima mensagem4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Soma tempo da ultima mensagem4": {
      "main": [
        [
          {
            "node": "Se passou 48hrs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inseri no TB follow3": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva no char historie4": {
      "main": [
        [
          {
            "node": "Inserindo historico system",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada 15 minutos4": {
      "main": [
        [
          {
            "node": "Busca tb follow count 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se tem block3": {
      "main": [
        [
          {
            "node": "Lista o historico de conversa3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se passou 48hrs": {
      "main": [
        [
          {
            "node": "Verifica se o ultimo follow foi respondido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quantidade de follow 4": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserindo historico system": {
      "main": [
        [
          {
            "node": "Inseri no TB follow3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se o ultimo follow foi respondido": {
      "main": [
        [
          {
            "node": "Texto1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar uma mensagem com contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Gerar uma mensagem com contexto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gerar uma mensagem com contexto": {
      "main": [
        [
          {
            "node": "Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Texto": {
      "main": [
        [
          {
            "node": "Merge Texto",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Texto1": {
      "main": [
        [
          {
            "node": "Merge Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Sessao 3": {
      "main": [
        [
          {
            "node": "Verifica se tem block3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca tb follow count 4": {
      "main": [
        [
          {
            "node": "Quantidade de follow 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Cada 15 minutos4": [
      {
        "json": {
          "timestamp": "2025-07-11T16:45:00.021-03:00",
          "Readable date": "July 11th 2025, 4:45:00 pm",
          "Readable time": "4:45:00 pm",
          "Day of week": "Friday",
          "Year": "2025",
          "Month": "July",
          "Day of month": "11",
          "Hour": "16",
          "Minute": "45",
          "Second": "00",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "versionId": "8becb8f8-a270-471d-8cd5-1cd2498df74a",
  "triggerCount": 0,
  "tags": []
}