repo/workflows/T9gLUtiUTXiGpBSC.json
{
  "createdAt": "2025-07-28T15:30:25.109Z",
  "updatedAt": "2025-07-31T17:07:55.224Z",
  "id": "T9gLUtiUTXiGpBSC",
  "name": "[ IAmanda ] - Criar Vector Produtos",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1424,
        128
      ],
      "id": "8dc97ea1-f3f5-4303-bb4f-705389057227",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1840,
        128
      ],
      "id": "5a4d82ae-01d8-4bf2-8519-542eccbf99d2",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "5hmrBGh7NouxWl1G",
          "name": "IAmanda"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        112
      ],
      "id": "467adb3b-08c7-4478-befb-263ba3ffd1fa",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        1072,
        128
      ],
      "id": "50bb25fa-b6da-43d0-aa91-43e791065e21",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "7hVSNHLK8ZyeDUth",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 10000,
        "chunkOverlap": 1000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1728,
        128
      ],
      "id": "73134cb7-fd8d-4a0e-9101-92bed8fbbaa2",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1344,
        -16
      ],
      "id": "ccf5566f-130a-4272-8f87-07e35dae2202",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "# RAG Produtos",
        "height": 80,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -112
      ],
      "typeVersion": 1,
      "id": "4ae24a35-cfff-4c04-ac02-f4461510db92",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        112
      ],
      "id": "6c35e0d1-de89-4756-8810-9941a8dded66",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// items é o array de dados de entrada do n8n. Aqui a gente mapeia cada item.\nreturn items.map(item => {\n  const product = item.json;\n\n  // Extrai título e link\n  const titulo = product.name.pt;\n  const linkProduto = product.canonical_url;\n\n  // Usa a primeira variante como exemplo; adapte se quiser outro critério\n  const variante = product.variants[0];\n  const preco = variante.price;\n  const peso = variante.weight;\n\n  // Remove tags HTML da descrição\n  const descricaoHtml = product.description.pt || '';\n  const descricao = descricaoHtml.replace(/<[^>]*>/g, '').trim();\n\n  // Pega a primeira imagem\n  const imagem = product.images?.[0]?.src || '';\n\n  // Identifica o valor de \"Tamanho\" entre os valores da variante\n  let tamanho = '';\n  if (product.attributes && variante.values) {\n    for (let i = 0; i < product.attributes.length; i++) {\n      if (product.attributes[i].pt.toLowerCase() === 'tamanho') {\n        tamanho = variante.values[i]?.pt || '';\n        break;\n      }\n    }\n  }\n\n\n  return {\n    titulo_do_produto: titulo,\n    link_do_produto: linkProduto,\n    preco: preco,\n    pes_do_produto: peso,\n    descricao_do_produto: descricao,\n    link_imagem_do_produto: imagem,\n    tamanho_do_produto: tamanho\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        112
      ],
      "id": "ebea8ac2-55bd-4558-82d8-ec2751ae28f8",
      "name": "Tratamento de dados "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd4b2a79-4442-48b5-bc31-6e384bf1c967",
              "name": "=produto",
              "value": "=Titulo do Produto : {{ $json.titulo_do_produto }}\n\nLink do Produto: {{ $json.link_do_produto }}\n\nPreço: {{ $json.preco }}\n\nPeso do Produto: {{ $json.pes_do_produto }}\n\nDescrição do Produto: {{ $json.descricao_do_produto }}\n\nLink da Imagem do Produto: {{ $json.link_imagem_do_produto }}\n\nTamanho do Produto: {{ $json.tamanho_do_produto }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        112
      ],
      "id": "33c212f1-0dce-4965-8bb7-3e082863f32b",
      "name": "Converte em texto para ficar mais facil para ia"
    },
    {
      "parameters": {
        "content": "",
        "height": 540,
        "width": 2584,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -160
      ],
      "typeVersion": 1,
      "id": "2faf2b2c-0e59-4cbc-b379-66325fb89326",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_vectors",
          "mode": "list",
          "cachedResultName": "n8n_vectors"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        400
      ],
      "id": "249246eb-9708-456f-86d5-26d345a26752",
      "name": "Limpar tb_vector",
      "credentials": {
        "postgres": {
          "id": "7hVSNHLK8ZyeDUth",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.nuvemshop.com.br/v1/2155771/products",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "200"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authentication",
              "value": "bearer 76f5c7447583731ae8372f75e06bea93ea1a4b9c"
            },
            {
              "name": "User-Agent",
              "value": "IAmanda (leonardo.serafim25@gmail.com)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        112
      ],
      "id": "fe334552-c5a4-479c-bdb8-f56425152a61",
      "name": "Busca produtos"
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Busca produtos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamento de dados ": {
      "main": [
        [
          {
            "node": "Converte em texto para ficar mais facil para ia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte em texto para ficar mais facil para ia": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar tb_vector": {
      "main": [
        []
      ]
    },
    "Busca produtos": {
      "main": [
        [
          {
            "node": "Tratamento de dados ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-07-17T00:00:53.019-03:00",
          "Readable date": "July 17th 2025, 12:00:53 am",
          "Readable time": "12:00:53 am",
          "Day of week": "Thursday",
          "Year": "2025",
          "Month": "July",
          "Day of month": "17",
          "Hour": "00",
          "Minute": "00",
          "Second": "53",
          "Timezone": "America/Sao_Paulo (UTC-03:00)"
        }
      }
    ]
  },
  "versionId": "b9db063b-9859-4148-8dd3-0145af523376",
  "triggerCount": 1,
  "tags": []
}